<ul style="margin-left: 10px; margin-bottom: -20px">
    <li style=" margin-top: 10px;margin-right: 5px">
        <input type="radio" name="ForecastLevel" value="1" data-ng-model="levelData.level"> &emsp;
        <label style="vertical-align: 3px;">
            Material Group Level One
        </label>
    </li>
    <li style=" margin-top: 10px; margin-right: 5px">
        <input type="radio" name="ForecastLevel" data-ng-model="levelData.level" value="2"> &emsp;
        <label style="vertical-align: 3px;">
            Material Group Level Two
        </label>
    </li>
    <li style=" margin-top: 10px;margin-right: 5px">
        <input type="radio" name="ForecastLevel" data-ng-model="levelData.level" value="3"> &emsp;
        <label style="vertical-align: 3px;">
            Material Group Level Three
        </label>
    </li>
    <li style=" margin-top: 10px;margin-right: 5px">
        <input type="radio" name="ForecastLevel" data-ng-model="levelData.level" value="4"> &emsp;
        <label style="vertical-align: 3px;">
            Material Record
        </label>
    </li>
</ul>
<!--


<ul style="margin-left: 130px;">
    <li>
        <input type="radio" name="updateOrCreate"
               id="sales_bid_create_update_wizard_1"
               value="1"
               data-ng-model="formOptionsBasicSettings.salesBidCreateUpdateWizardUpdateOrCreate"
               data-ng-click="chooseUpdateOrCreate('1');" >
        <label for="sales_bid_create_update_wizard_1" style="vertical-align: 3px;">
            {{'estimate.main.bidCreationWizardCreateBid' | translate}}
        </label>
    </li>
    <li>
        <input type="radio" name="updateOrCreate"
               id="sales_bid_create_update_wizard_2"
               value="2"
               data-ng-model="formOptionsBasicSettings.salesBidCreateUpdateWizardUpdateOrCreate"
               data-ng-click="chooseUpdateOrCreate('2');" >
        <label for="sales_bid_create_update_wizard_2" style="vertical-align: 3px;">
            {{'estimate.main.bidCreationWizardUpdateBid' | translate}}
        </label>
    </li>
</ul>
<div data-platform-form data-form-options="formOptionsBasicSettings" entity="entity"></div>-->
