<section class="modal-body">
	<h5>{{'constructionsystem.main.applyNote'|translate}}</h5>
	<div class="platform-form-group">
		<div class="radio spaceToUp col-lg-offset-2">
			<label>
				<input type="checkbox" data-ng-model="updateOnApply" data-ng-change="onOptionChange('updateOnApply', updateOnApply);updateOnApply?(overrideOnApply=false):null;">{{'constructionsystem.main.update'|translate}}
			</label>
		</div>
	</div>
	<div class="platform-form-row">
		<div class="radio spaceToUp col-lg-offset-2">
			<label>
				<input type="checkbox" data-ng-model="overrideOnApply" data-ng-change="onOptionChange('overrideOnApply', overrideOnApply);overrideOnApply?(updateOnApply=false):null;">{{'constructionsystem.main.overwriteAll'|translate}}
			</label>
		</div>
	</div>
</section>