<div class="checkbox spaceToUp">
	<label>
		<input type="checkbox" data-ng-model="entity.FixedPriceLineItems" data-ng-click="onCheckCreateNew()" value="{{entity.FixedPriceLineItems}}" />
		{{'estimate.main.backwardCalculation.fixedPriceLineItems' | translate}}
	</label>
</div>
<div class="checkbox spaceToUp">
	<label>
		<input type="checkbox" data-ng-model="entity.LineItemsAllowance"  value="{{entity.LineItemsAllowance}}" />
		{{'estimate.main.backwardCalculation.lineItemsAllowance' | translate}}
	</label>
</div>
<div class="checkbox spaceToUp">
	<label>
		<input type="checkbox" data-ng-model="entity.LineItemsMarkup"  value="{{entity.LineItemsMarkup}}" />
		{{'estimate.main.backwardCalculation.lineItemsMarkup' | translate}}
	</label>
</div>