<div class="flex-element flex-box flex-column overflow">
<platform-Editor data-textarea-id="htmlEditor" data-textarea-class=""
                           data-textarea-name="textModuleSpecification"
                           data-textarea-height="100%"
                           data-action="onChange()"
                           data-textarea-editable="textareaEditable()"
                           data-textarea-required
                           data-ng-model="selectedActivity.TextBlob.Content"
                           data-enable-bootstrap-title="true"
                           data-editoroptions="editoroptions"></platform-Editor>
</div>
