<div data-businesspartner-kendo-splitter-adjust-extend class="flex-element filler"
     option="{panes: [ { collapsible: true, size: '20%' },{ collapsible: true, size: '80%' }],orientation:'horizontal'}">
	<div id="ui-layout-west" class="relationWest">
		<div class="overflow filler">
			<div id="rectangle-all" class="rectangle-all"></div>
		</div>
	</div>
	<div id="ui-layout-east" class="relationEast">
		<div data-business-partner-relation-chart trigger-update-event="triggerUpdateEvent"></div>
	</div>
</div>