<!--suppress ALL -->
<div data-business-partner-main-image-container class="flex-element flex-box flex-align-center filler">
	<div class="flex-element text-center">
		<img ng-show="getShow(-1)" class="bprating" src="cloud.style/content/images/control-icons.svg#ico-smiley-angry"/>
		<img ng-show="getShow(0)" class="bprating" src="cloud.style/content/images/control-icons.svg#ico-smiley-neutral"/>
		<img ng-show="getShow(1)" class="bprating" src="cloud.style/content/images/control-icons.svg#ico-smiley-happy"/>
	</div>
</div>
