<div ng-controller="businessPartnerCustomerCompanyOrSupplierCompanyController" class="modal-wrapper">
	<header class="modal-header main-color"
	        data-ng-include="'modaldialog/modaldialog-header-template.html'"></header>
	<section class="modal-body">
		<div class="subview-container modal-wrapper">
			<div class="toolbar">
				<div data-platform-menu-list data-list="tools" data-platform-collapsable-list data-ng-model="tools"></div>
			</div>
			<div data-platform-grid style="height: 170px;" data="gridData"></div>
		</div>
	</section>
	<footer class="modal-footer">
		<button type="button" class="btn btn-default" data-ng-disabled="requirement" data-ng-click="modalOptions.ok()">
			{{modalOptions.actionButtonText}}
		</button>
		<button type="button" class="btn btn-default" data-ng-disabled="requirement" data-ng-click="modalOptions.cancel()">
			{{modalOptions.closeButtonText}}
		</button>
	</footer>
</div>