<div class="checkbox spaceToUp">
	<label>
		<input type="checkbox" data-ng-model="entity.IsGeneratePrc" data-ng-click="onCheckGeneratePrc()" value="{{entity.IsGeneratePrc}}" />
		{{'estimate.main.removePackageGeneratePrc' | translate}}
	</label>
</div>
<div class="checkbox spaceToUp">
	<label>
		<input type="checkbox" data-ng-model="entity.IsDisablePrc" data-ng-click="onCheckDisablePrc()" value="{{entity.IsDisablePrc}}" />
		{{'estimate.main.removePackageDisablePrc' | translate}}
	</label>
</div>
