<div data-platform-form data-form-options="formOptionsCompareOptionSettings" entity="entity" class="exclude-resize"></div>

<div id="assemblytemplateSplitter" data-platform-kendo-splitter-adjust class="flex-box flex-column flex-element border-none">
	<div id="ui-layout-east" data-ng-controller="estimateMainWicboqToPrjboqCompareGridForWicController" class="flex-box flex-column flex-element">
		<div class="toolbar">
			<div data-platform-menu-list data-list="tools"></div>
		</div>

		<platform-Grid data="gridData" class="flex-element subview-container"></platform-Grid>

		<div cloud-common-overlay data-loading="!isReady || isLoading"></div>
	</div>
	<div id="ui-layout-west" data-ng-controller="estimateMainWicboqToPrjboqCompareGridForBoqController" class="flex-box flex-column flex-element">
		<div class="toolbar">
			<div data-platform-menu-list data-list="tools"></div>
		</div>

		<platform-Grid data="gridData" class="flex-element subview-container"></platform-Grid>

		<div cloud-common-overlay data-loading="!isReady || isLoading"></div>
	</div>
</div>