<div class="platform-form-group">
	<div class="platform-form-row">
		<label for="username" class="platform-form-label" title="{{text.platform.loginUsername}}">{{text.platform.loginUsername}}</label>
		<div class="platform-form-col">
			<input type="text" data-ng-model="loginData.username" id="username" name="username" readonly class="form-control">
		</div>
	</div>
	<div class="platform-form-row">
		<label for="logonname" class="platform-form-label" title="{{text.platform.loginLogonName}}">{{text.platform.loginLogonName}}</label>
		<div class="platform-form-col">
			<input type="text" data-ng-model="loginData.logonname" id="logonname" name="logonname" readonly class="form-control">
		</div>
	</div>
	<div class="platform-form-row">
		<label for="oldpassword" class="platform-form-label" title="{{text.platform.oldLoginPassword}}"> {{text.platform.oldLoginPassword}} </label>
		<div class="platform-form-col">
			<input class="form-control" type="password" autofocus data-ng-model="loginData.oldpassword" id="oldpassword" name="oldpassword" placeholder="<{{text.platform.oldLoginEnterPassword}}>">
		</div>
	</div>
	<div class="platform-form-row">
		<label for="newpassword" class="platform-form-label" title="{{text.platform.newLoginPassword}}"> {{text.platform.newLoginPassword}} </label>
		<div class="platform-form-col">
			<input class="form-control" type="password" data-ng-model="loginData.newpassword" id="newpassword" name="newpassword" placeholder="<{{text.platform.newLoginEnterPassword}}>">
		</div>
	</div>
	<div class="platform-form-row">
		<label for="confirmpassword" class="platform-form-label" title="{{text.platform.confirmLoginPassword}}"> {{text.platform.confirmLoginPassword}} </label>
		<div class="platform-form-col">
			<input class="form-control" type="password" data-ng-model="loginData.confirmpassword" id="confirmpassword" name="confirmpassword" placeholder="<{{text.platform.confirmLoginEnterPassword}}>">
		</div>
	</div>

	<div class="platform-form-row">
		<label class="platform-form-label" title=""> </label>
		<div class="platform-form-col">
			<div class="text-justify" ng-bind-html="passwordHint"></div>
		</div>
	</div>


</div>