<div data-global>
	<header class="modal-header main-color"
	        data-ng-include="'modaldialog/modaldialog-header-template.html'"></header>
	<div>
		<section class="modal-body margin-large">
			<div class="text-justify" ng-bind-html="text.platform.changePasswordInstruction" style="margin-top: 5px;"></div>
			<div ng-if="showExtendedInfo" class="text-justify" ng-bind-html="text.platform.changePasswordInfoIntegrated"></div>
			<div ng-if="instructionLoaded" data-ng-include="'app/partials/change-password-content.html'" style="margin-top: 10px;"></div>
			<br/>
			<div ng-if="feedback.show" class="text-justify" style="padding: 0 5px;" ng-class="feedback.alertClass" ng-bind="feedback.message"></div>
		</section>
	</div>

	<footer class="modal-footer">


		<button id="changebutton" class="btn btn-default margin-left-ld " data-ng-click="onChangeBtn()" ng-disabled="!canChangePassword()" title="{{text.platform.changePwdBtn}}">
			{{text.platform.changePwdBtn}}
		</button>

		<button type="button" class="cancel btn btn-default" data-ng-click="onCancelBtn()">
			Cancel
		</button>

	</footer>
</div>
