<style data-cloud-desktop-custom-login-css></style>
<div class="login-sso flex-element">

	<div class="modal-dialog primary" style="width: 650px;">
		<div id="">

			<form method="post" autocomplete="on">
				<div class="modal-content" data-platform-modaldialog-rescale style="opacity: .94;min-height: 270px;">
					<div data-cloud-common-overlay data-loading="loginOptions.loading" data-info2="loginOptions.loadingInfo"></div>
					<header class="modal-header">
						<div class="{{::productLogoPrimary}} productLogo" title="{{::productName}}"></div>
						<div class="itwo40-logo company-login-logo"></div>
					</header>


					<main class="modal-body">

						<div class="text-justify" ng-bind-html="text.platform.changepasswordinfo" style="margin-top: 5px;"></div>
						<div ng-if="showExtendedInfo" class="text-justify" ng-bind-html="text.platform.changePasswordInfoIntegrated"></div>

						<div ng-if="instructionLoaded" data-ng-include="'app/partials/change-password-content.html'" style="margin-top: 10px;"></div>

						<div class="text-justify" ng-bind-html="loginOptions.errorInfo"></div>
						<br/>
						<div ng-if="feedback.show" class="text-justify" style="padding: 0 5px;" ng-class="feedback.alertClass" ng-bind="feedback.message"></div>

					</main>


					<footer class="modal-footer">

						<button id="backbutton" class="btn btn-primary" data-ng-click="onBackBtn()" title="{{text.platform.portal.backButton}}">
							{{text.platform.backButton}}
						</button>
						<button id="changebutton" class="btn btn-primary margin-left-ld " data-ng-click="onChangeBtn()" ng-disabled="!canChangePassword()" title="{{text.platform.changePwdBtn}}">
							{{text.platform.changePwdBtn}}
						</button>

					</footer>

				</div>
			</form>
		</div>
	</div>
</div>
