<header class="modal-header main-color">
	<button type="button" class="close db" data-dismiss="modal" data-ng-click="$close()" aria-hidden="true">
		<svg data-cloud-desktop-svg-image data-sprite="control-wh-icons" data-image="ico-close" class="block-image"></svg>
	</button>
	<h2 class="modal-title">Shortcuts</h2>
</header>

<section class="modal-body shortcut">
	<div class="row">
		<div class="col-md-3 item-right">
			<span>Ctrl</span> + <span>A</span>&nbsp;:&nbsp;
		</div>
		<div class="col-md-3 item-left">
			Select All
		</div>
		<div class="col-md-3 item-right">
			<span>Ctrl</span> + <span>D</span>&nbsp;:&nbsp;
		</div>
		<div class="col-md-3 item-left">
			Delete Line
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 item-right">
			<span>Ctrl</span> + <span>Z</span>&nbsp;:&nbsp;
		</div>
		<div class="col-md-3 item-left">
			Undo
		</div>
		<div class="col-md-3 item-right">
			<span>Ctrl</span> + <span>Y</span>&nbsp;:&nbsp;
		</div>
		<div class="col-md-3 item-left">
			Redo
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 item-right">
			<span>Ctrl</span> + <span>F</span>&nbsp;:&nbsp;
		</div>
		<div class="col-md-3 item-left">
			Start Searching
		</div>
		<div class="col-md-3 item-right">
			<span>Ctrl</span> + <span>G</span>&nbsp;:&nbsp;
		</div>
		<div class="col-md-3 item-left">
			Find Next
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 item-right">
			<span>Shift</span> + <span>Ctrl</span> + <span>G</span>&nbsp;:&nbsp;
		</div>
		<div class="col-md-3 item-left">
			Find Previous
		</div>
		<div class="col-md-3 item-right">
			<span>Shift</span> + <span>Ctrl</span> + <span>F</span>&nbsp;:&nbsp;
		</div>
		<div class="col-md-3 item-left">
			Replace
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 item-right">
			<span>Shift</span> + <span>Ctrl</span> + <span>R</span>&nbsp;:&nbsp;
		</div>
		<div class="col-md-3 item-left">
			Replace All
		</div>
		<div class="col-md-3 item-right">
			<span>Alt</span> + <span>G</span>&nbsp;:&nbsp;
		</div>
		<div class="col-md-3 item-left">
			Jump To Line
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 item-right">
			<span>Alt</span> + <span>F</span>&nbsp;:&nbsp;
		</div>
		<div class="col-md-9 item-left">
			Persistent Search</br>
			(Dialog doesn't auto close, enter to find next, Shift-Enter to find previous)
		</div>
	</div>
</section>

<footer class="modal-footer">
	<button type="button" class="btn btn-default" data-ng-disabled="requirement" data-ng-click="$close()">
		Ok
	</button>
</footer>