<div data-ng-controller="cloudDesktopSearchBulkController"
	data-platform-add-css-class-directive="searchOptions.cssClassForParent"
	data-cloud-Desktop-On-Key-Enter="searchOptions.onStartSearch"
	class="flex-element flex-box flex-column overflow-hidden">
	<div>
		<div cloud-desktop-sidebar-content-navbar data-option="option"></div>

		<div class="projectContextInfo" data-ng-include="'sidebar-filter-pinned-container.html'"></div>

		<div data-domain-control data-domain="select" data-options="searchOptions.searchListSelectbox"
			data-model="searchOptions.selectedItemId" class="enhanced" data-change="searchOptions.selectionChanged()">
		</div>

		<div data-ng-if="searchOptions.showRecordsInfo">
			<div class="input-group recordInfoText">
				<div class="form-control flex-align-center">
					<div class="input-group-content" data-ng-bind="searchOptions.filterInfo.recordInfoText"></div>
				</div>

				<span class="input-group-btn">
					<!-- go to first page -->
					<button class="btn btn-default" data-ng-disabled="!searchOptions.filterInfo.backwardEnabled"
						data-ng-click="searchOptions.onPageFirst()"><span class="tlb-icons ico-rec-first"></span></button>

					<!-- go to previous page -->
					<button class="btn btn-default" data-ng-class="{btndeactive:!searchOptions.filterInfo.backwardEnabled}"
						data-ng-disabled="!searchOptions.filterInfo.backwardEnabled"
						data-ng-click="searchOptions.onPageBackward()"><span
							class="control-icons ico-previous"></span></button>

					<!-- go to next page -->
					<button class="btn btn-default" data-ng-class="{btndeactive:!searchOptions.filterInfo.forwardEnabled}"
						data-ng-disabled="!searchOptions.filterInfo.forwardEnabled"
						data-ng-click="searchOptions.onPageForward()"><span class="control-icons ico-next"></span></button>

					<!-- go to last page -->
					<button class="btn btn-default" data-ng-click="searchOptions.onPageLast()"
						data-ng-disabled="!searchOptions.filterInfo.forwardEnabled"><span
							class="tlb-icons ico-rec-last"></span></button>
				</span>
			</div>
		</div>

		<div class="flex-box flex-align-center subTitle toolbar">
			<label class="flex-element" data-ng-bind="'cloud.desktop.sdSearchOptionLabel'|translate"></label>
			<div data-platform-menu-list data-list="searchOptions.enhancedSearchTools"></div>
		</div>

		<div data-ng-if="searchOptions.filterRequest.includeRadiusSearch!=null" class="platform-form-row">

			<div data-domain-control data-domain="boolean" data-model="searchOptions.filterRequest.includeRadiusSearch"
				data-options="searchOptions.includeRadiusSearchChk">
			</div>
		</div>
		<div data-ng-if="searchOptions.filterRequest.includeRadiusSearch==true" class="platform-form-row">
			<div class="search-google-radiussearch" cloud-desktop-search-google-radiussearch></div>
		</div>


	</div>

	<div class="sidebar-panel overflow-hidden">

		<div class="sidebar-panel-body" style="padding-bottom: 5px;">
			<div data-cloud-desktop-bulk-editor></div>
		</div>


		<div class="margin-top-ld">
			<div class="btnGroup flex-box">
				<button class="btn btn-default flex-element tlb-icons ico-search form-control jsSetFocus search-button"
					data-ng-disabled="searchOptions.filterInfo.isPending"
					data-ng-class="{btndeactive: searchOptions.filterInfo.isPending}"
					data-ng-click="searchOptions.onStartSearch()"
					data-ng-attr-title="{{::searchOptions.onExecuteSearchBtnText}}">
				</button>
			</div>
			<!--<button class="btn btn-default flex-element" data-ng-click="searchOptions.onSnapshot()">SH</button>-->
		</div>

	</div>
	<!--<div data-basics-common-white-board data-show="showInfoOverlay" data-info="overlayInfo"></div>-->
	<div cloud-common-overlay data-loading="isLoading" data-info2="overlayInfo"></div>
</div>