<div data-ng-controller="cloudDesktopSearchGoogleController"
	data-cloud-Desktop-On-Key-Enter="searchOptions.onStartSearch" class="flex-box flex-column">
	<!-- title and menu-container -->
	<div cloud-desktop-sidebar-content-navbar data-option="option"></div>

	<div data-ng-if="searchOptions.filterRequest.showProjectContextEnabled()">
		<div class="input-group projectContextInfo">
			<input class="form-control" type="text" data-ng-model="searchOptions.filterRequest.projectContextInfo"
				readonly>
			<span class="input-group-btn">
				<button class="btn btn-default control-icons ico-input-delete"
					data-ng-click="searchOptions.onClearProjectContext()"></button>
			</span>
		</div>
	</div>
	<!--<div data-ng-if="searchOptions.filterRequest.showPinningContextEnabled('project.main')">-->
	<div class="projectContextInfo" data-ng-include="'sidebar-filter-pinned-container.html'"></div>

	<div class="input-group form-control">
		<input id="GoogleSearchInput" type="text" class="input-group-content"
			data-ng-model="searchOptions.filterRequest.pattern"
			placeholder="{{translate.cloud.desktop.sdGoogleSearchFilter}}" data-ng-keyup="searchOptions.onKeyUp()">

		<span class="input-group-btn">
			<button class="btn btn-default control-icons ico-input-delete"
				data-ng-disabled="searchOptions.filterRequest.pattern.length===0"
				data-ng-class="{btndeactive: searchOptions.filterRequest.pattern.length===0}"
				data-ng-click="searchOptions.onClearSearch()"></button>

			<button class="btn btn-default tlb-icons ico-search" data-ng-disabled="searchOptions.filterInfo.isPending"
				data-ng-class="{btndeactive: searchOptions.filterInfo.isPending}"
				data-ng-click="searchOptions.onStartSearch()"></button>
		</span>
	</div>

	<div data-ng-if="searchOptions.showRecordsInfo">
		<div class="input-group recordInfoText">
			<div class="form-control flex-align-center">
				<div class="input-group-content" data-ng-bind="searchOptions.filterInfo.recordInfoText"></div>
			</div>

			<span class="input-group-btn">
				<!-- go to first page -->
				<button class="btn btn-default" data-ng-disabled="!searchOptions.filterInfo.backwardEnabled"
					data-ng-click="searchOptions.onPageFirst()"><span class="tlb-icons ico-rec-first"></span></button>

				<!-- go to previous page -->
				<button class="btn btn-default" data-ng-class="{btndeactive:!searchOptions.filterInfo.backwardEnabled}"
					data-ng-disabled="!searchOptions.filterInfo.backwardEnabled"
					data-ng-click="searchOptions.onPageBackward()"><span class="control-icons ico-previous"></span></button>

				<!-- go to next page -->
				<button class="btn btn-default" data-ng-class="{btndeactive:!searchOptions.filterInfo.forwardEnabled}"
					data-ng-disabled="!searchOptions.filterInfo.forwardEnabled"
					data-ng-click="searchOptions.onPageForward()"><span class="control-icons ico-next"></span></button>

				<!-- go to last page -->
				<button class="btn btn-default" data-ng-click="searchOptions.onPageLast()"
					data-ng-disabled="!searchOptions.filterInfo.forwardEnabled"><span
						class="tlb-icons ico-rec-last"></span></button>
			</span>
		</div>
	</div>

	<div data-ng-if="searchOptions.filterRequest.showOptions" class="filteroptions platform-form-group">
		<!-- <label class="subTitle" ng-bind="'cloud.desktop.sdSearchOptionLabel'|translate"></label> -->
		<div cloud-desktop-sidebar-content-navbar data-option="optionSearch" class="subTitle"></div>

		<div data-ng-if="searchOptions.filterRequest.useCurrentClient!=null" class="margin-top-ld platform-form-row">

			<div data-domain-control data-domain="boolean" data-model="searchOptions.filterRequest.useCurrentClient" data-options="searchOptions.useCurrentClientChk">
			</div>

		</div>
		<div data-ng-if="searchOptions.filterRequest.useCurrentProfitCenter!=null" class="platform-form-row">

			<div data-domain-control data-domain="boolean" data-readonly="searchOptions.useCurrentProfitCenterChk.readonly"
			     data-model="searchOptions.filterRequest.useCurrentProfitCenter"
			     data-options="searchOptions.useCurrentProfitCenterChk">
			</div>

		</div>
		<div data-ng-if="searchOptions.filterRequest.includeNonActiveItems!=null" class="platform-form-row">

			<div data-domain-control data-domain="boolean"
				data-model="searchOptions.filterRequest.includeNonActiveItems"
				data-options="searchOptions.includeNonActiveItemsChk">
			</div>

		</div>

		<div data-ng-if="searchOptions.filterRequest.includeReferenceLineItems!=null" class="platform-form-row">

			<div data-domain-control data-domain="boolean"
				 data-model="searchOptions.filterRequest.includeReferenceLineItems"
				 data-options="searchOptions.includeReferenceLineItemsChk">
			</div>

		</div>

		<div data-ng-if="searchOptions.customOptionChk != null && !lodash.isEmpty(searchOptions.customOptionChk)"
			class="platform-form-row">

			<div data-domain-control data-domain="boolean" data-model="searchOptions.filterRequest.customOption.value"
				data-options="searchOptions.customOptionChk">
			</div>
		</div>
		<div data-ng-if="searchOptions.filterRequest.includeDateSearch!=null" class="platform-form-row">

			<div data-domain-control data-domain="boolean" data-model="searchOptions.filterRequest.includeDateSearch"
				data-options="searchOptions.includeDateSearchChk">
			</div>
		</div>

		<div data-ng-if="searchOptions.filterRequest.includeDateSearch!=null" class="platform-form-row">
			<div cloud-desktop-search-google-datesearch></div>
		</div>

		<div data-ng-if="searchOptions.filterRequest.includeRadiusSearch!=null" class="platform-form-row">

			<div data-domain-control data-domain="boolean" data-model="searchOptions.filterRequest.includeRadiusSearch"
				data-options="searchOptions.includeRadiusSearchChk">
			</div>
		</div>
		<div data-ng-if="searchOptions.filterRequest.includeRadiusSearch==true" class="platform-form-row">
			<div class="search-google-radiussearch" cloud-desktop-search-google-radiussearch></div>
		</div>

	</div>

	<!-- will be removed later -->
	<button class="btn btn-default hide" ng-click="showSendRfqDialog()">Show Send-RFQ Dialog</button>
</div>