<header class="modal-header main-color">
	<h2 class="modal-title">{{'procurement.pricecomparison.compareConditions.explain' | translate}}</h2>
</header>


<section class="modal-body">

	<div style="padding: 20px;">
		<p>
		<h2>MAX():</h2> {{'procurement.pricecomparison.compareConditions.explainDetail.max' | translate}}</p>
		<p>
		<h2>AVG():</h2> {{'procurement.pricecomparison.compareConditions.explainDetail.avg' | translate}}</p>
		<p>
		<h2>MIN():</h2> {{'procurement.pricecomparison.compareConditions.explainDetail.min' | translate}}</p>
		<p>
		<h2>VAL():</h2> {{'procurement.pricecomparison.compareConditions.explainDetail.val' | translate}}</p>

	</div>

</section>

<footer class="modal-footer">
	<button type="button" class="btn btn-default" data-ng-click="$close({isOK: false})"> {{'cloud.common.ok' | translate}}</button>
</footer>