
<header class="modal-header main-color" data-ng-include="options.headerTemplateUrl"></header>

<section class="modal-body">
   <div data-platform-form-container data-form-container-options="containerOptions" class="fullheight"></div>
</section>

<footer class="modal-footer">
    <button type="button" class="btn btn-default" data-ng-click="modalOptions.onOK()" data-ng-disabled="disabledOKButton()"> {{'cloud.common.ok' | translate}}</button>
    <button type="button" class="btn btn-default" data-ng-click="modalOptions.cancel()"> {{'cloud.common.cancel' | translate}}</button>
</footer>



