<div data-ng-controller="procurementPackageCreateProjectDialogController">
	<header class="modal-header main-color" data-ng-include="'modaldialog/modaldialog-header-template.html'"></header>
	<div>
		<section class="modal-body">
				<div data-platform-form-container data-form-container-options="formContainerOptions" entity="currentItem"></div>
		</section>
	</div>
	<footer class="modal-footer">
		<button type="button" class="btn btn-default" data-ng-click="modalOptions.ok()" data-ng-disabled="isDisabled">
			{{modalOptions.actionButtonText}}
		</button>
		<button type="button" class="btn btn-default" data-ng-click="modalOptions.close()">
			{{modalOptions.closeButtonText}}
		</button>
	</footer>
</div>