<div data-ng-controller="procurementPackageWizardCreateContractController" id="contractWizardDIV">

	<header class="modal-header main-color" data-ng-include="'dialog/modaldialog-header-template.html'"></header>

	<section class="modal-body" style="padding: 20px 40px 20px 16px;">
		<div class="icon-message ng-scope">
			<div  data-ng-show="error.showCon" class="icon tlb-icons ico-info"></div>
			<div  ng-bind-html="error.message" data-ng-show="error.show" ></div>
		</div>
		<div data-ng-switch="initOptions.step" class="fullheight">
			<div data-ng-switch-when="step1">
				<div class="platform-form-group platform-lg">
					<h3 class="platform-form-label">{{initOptions.contractorTitle}}</h3>
					<div class="platform-form-row">
						<label class="platform-form-label">{{initOptions.businessPartnerText}}</label>
						<div class="platform-form-col">
							<div data-cloud-desktop-on-key-enter="$parent.initOptions.onKeyEnter"
								 data-filter-business-partner-dialog-lookup
								 data-ng-model="initOptions.dataModels.businessPartner.Id"
								 data-options="lookupOptions.businessPartner"
								 data-entity="initOptions.dataModels.businessPartner"
								 data-config="initOptions.step1BpOwnConfig">
							</div>
						</div>
					</div>
					<div class="platform-form-row">
						<label class="platform-form-label">{{initOptions.subsidiaryText}}</label>
						<div class="platform-form-col">
							<div data-business-partner-main-subsidiary-lookup
								 data-ng-model="initOptions.dataModels.subsidiary.Id"
								 data-options="lookupOptions.subsidiary"
								 data-entity="entity"
								 data-config="initOptions.step1BpConfig"
								 data-cloud-desktop-on-key-enter="$parent.initOptions.onKeyEnter">
							</div>
						</div>
					</div>
					<div class="platform-form-row">
						<label class="platform-form-label">{{initOptions.supplierText}}</label>
						<div class="platform-form-col">
							<div class="lg-5 md-5" data-business-partner-main-supplier-lookup
								 data-ng-model="initOptions.dataModels.supplier.Id"
								 data-options="lookupOptions.supplier"
								 data-entity="entity"
								 data-config="initOptions.step1BpConfig"
								 data-cloud-desktop-on-key-enter="$parent.initOptions.onKeyEnter">
							</div>
							<input class="form-control lg-7 md-7 "
								   data-ng-model="initOptions.dataModels.supplier.Description" readonly/>
						</div>
					</div>
					<div class="platform-form-row">
						<label class="platform-form-label">{{initOptions.contactText}}</label>
						<div class="platform-form-col">
							<div business-partner-main-contact-dialog
							     data-ng-model="initOptions.dataModels.contact.Id"
							     data-options="lookupOptions.contact"
							     data-entity="entity"
							     data-config="initOptions.step1BpConfig"
							     data-cloud-desktop-on-key-enter="$parent.initOptions.onKeyEnter">
							</div>
						</div>
					</div>
				</div>
				<!-- note -->
				<div ng-if="hasContractMessage">
					<label>{{'procurement.common.wizard.IsContractNote' | translate}}</label>
				</div>
			</div>

			<div data-ng-switch-when="step2">
					<div class="platform-form-group platform-lg">
						<h3 class="platform-form-label">{{initOptions.changesFound}}</h3>
						<div class="platform-form-row">
							<div class="pane-b flex-box" >
								<platform-grid data="itemGridConfig" style="height: 220px; overflow: auto; border: thin solid slategray"></platform-grid>
							</div>
						</div>
					</div>
				<!-- note -->
				<div ng-if="hasContractMessage">
					<label>{{'procurement.common.wizard.IsContractNote' | translate}}</label>
				</div>
				<div class="platform-form-group" style="margin-top: 20px;">
                    <h3 class="platform-form-label">{{initOptions.chooseToDealWithChanges}}</h3>
					<div class="radio spaceToUp">
						<label>
							<input type="radio" name="supplierSelect"
								   data-ng-value="initOptions.overWriteRadioVal"
								   data-ng-model="initOptions.radioType"
								   data-ng-disabled="!initOptions.isOverWrite"/>
							{{initOptions.overwriteContractText}}
						</label>
					</div>
					<div class="radio spaceToUp">
						<label>
							<input type="radio" name="supplierSelect"
								   data-ng-value="initOptions.newBaseRadioVal"
								   data-ng-model="initOptions.radioType"
								   data-ng-disabled="initOptions.isChangeOrderShow?false:initOptions.isOverWrite"/>
							{{initOptions.creaNewBaseContractWithBp}}
						</label>
					</div>
                    <div class="radio spaceToUp">
						<label>
							<input type="radio" name="supplierSelect"
								   data-ng-value="initOptions.changeRadioVal"
								   data-ng-model="initOptions.radioType"
								   data-ng-disabled="initOptions.isChangeOrderShow?false:initOptions.isOverWrite"/>
							{{initOptions.changeOrderContractText}}
						</label>
					</div>
				</div>
				<div>
					<div class="panel-group">
						<div class="panel panel-default" data-is-open="true">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle" ng-click="initOptions.toggleOpen('changeProject')">
										<span class="platform-form-group-header-text">{{'procurement.package.wizard.contract.changeProject' | translate}}</span>
										<span class="platform-form-group-header">
											<div class="toggleImg control-icons" data-ng-class="initOptions.projectCollapse? 'ico-down': 'ico-up'"></div>
										</span>
									</a>
								</h4>
							</div>
							<div class="panel-collapse collapse" data-ng-class="initOptions.projectCollapse? '': 'in'" style="height: auto;" id="changeProject">
								<div class="panel-body" >
									<div class="platform-form-group platform-lg">
										<div class="platform-form-row">
											<label class="platform-form-label">{{'procurement.package.wizard.contract.changeProject' | translate}}</label>
											<div class="platform-form-col">
												<div class="control-directive" data-basics-lookupdata-lookup-composite
													data-options="lookupOptions.projectChange"
													data-model="initOptions.dataModels.projectChange.Id"
													data-ng-model="initOptions.dataModels.projectChange.Id"
													data-config="initOptions.changeProjectConfig"
													 data-entity="initOptions.dataModels.projectChange"
													data-dirty="true">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="panel-group">
						<div class="panel panel-default" data-is-open="true">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle" ng-click="initOptions.toggleOpen('contractGrid')">
										<span class="platform-form-group-header-text">{{'procurement.package.wizard.contract.baseContractsUnderSubPackage' | translate}}</span>
										<span class="platform-form-group-header">
											<div class="toggleImg control-icons" data-ng-class="initOptions.contractGridCollapse? 'ico-down': 'ico-up'"></div>
										</span>
									</a>
								</h4>
							</div>
							<div class="panel-collapse collapse" data-ng-class="initOptions.contractGridCollapse? '': 'in'" style="height: auto;" id="contractGrid">
								<div class="panel-body" >
									<div class="platform-form-group platform-lg">
										<div class="platform-form-row">
											<div class="pane-b flex-box">
												<platform-Grid data="contractGridConfig" style="height: 200px; overflow: auto;"></platform-Grid>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="panel-group">
						<div class="panel panel-default" data-is-open="true">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="accordion-toggle" ng-click="initOptions.toggleOpen('businessPartner')">
										<span class="platform-form-group-header-text">{{'procurement.package.wizard.contract.contractWidthBusinessPartner' | translate}}</span>
										<span class="platform-form-group-header">
											<div class="toggleImg control-icons" data-ng-class="initOptions.businessPartnerCollapse? 'ico-down': 'ico-up'"></div>
										</span>
									</a>
								</h4>
							</div>
							<div class="panel-collapse collapse" data-ng-class="initOptions.businessPartnerCollapse? '': 'in'" style="height: auto;" id="businessPartner">
								<div class="panel-body" >
									<div class="platform-form-group platform-lg">
										<!--here-->
										<div class="platform-form-row">
											<label class="platform-form-label">{{'cloud.common.entityBusinessPartner' | translate}}</label>
											<div class="platform-form-col">
												<div data-filter-business-partner-dialog-lookup
													 data-ng-model="initOptions.dataModels.businessPartner.Id"
													 data-options="lookupOptions.businessPartner"
													 data-entity="initOptions.dataModels.businessPartner"
													 data-config="initOptions.bpConfig">
												</div>
											</div>
										</div>
										<!--check it -->
										<div class="platform-form-row">
											<label class="platform-form-label">{{initOptions.contactText}}</label>
											<div class="platform-form-col">
												<div business-partner-main-contact-dialog
												     data-ng-model="initOptions.dataModels.contact.Id"
												     data-options="lookupOptions.contact"
												     data-entity="entity"
												     data-config="initOptions.step1BpConfig"
												     data-cloud-desktop-on-key-enter="$parent.initOptions.onKeyEnter">
												</div>
											</div>
										</div>
										<div class="platform-form-row">
											<label class="platform-form-label">{{initOptions.subsidiaryText}}</label>
											<div class="platform-form-col">
												<div data-business-partner-main-subsidiary-lookup
													 data-ng-model="initOptions.dataModels.subsidiary.Id"
													 data-options="lookupOptions.subsidiary"
													 data-entity="entity"
													 data-config="initOptions.bpConfig">
												</div>
											</div>
										</div>
										<div class="platform-form-row">
											<label class="platform-form-label">{{initOptions.supplierText}}</label>
											<div class="platform-form-col">
												<div class="lg-5 md-5" data-business-partner-main-supplier-lookup
													 data-ng-model="initOptions.dataModels.supplier.Id"
													 data-options="lookupOptions.supplier"
													 data-entity="entity"
													 data-config="initOptions.bpConfig">
												</div>
												<input class="form-control lg-7 md-7 "
													   data-ng-model="initOptions.dataModels.supplier.Description" readonly/>
											</div>
										</div>
										<!--check it -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="platform-form-group" style="margin-top: 10px;">
					<div class="checkbox spaceToUp">
						<label>
							<input type="checkbox" name="copyHeaderTextFromPackage"
								   data-ng-model="initOptions.doesCopyHeaderTextFromPackage" />
							{{initOptions.copyHeaderTextFromPackage}}
						</label>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="modal-footer" data-ng-switch="initOptions.step" style="height: auto; padding: 15px 30px;">

			<div data-ng-switch-when="step1">
				<button type="button" class="btn btn-default" data-ng-disabled="initOptions.isBtnNextDisabled"
						data-ng-click="initOptions.onNext()" style="display:inline-block;">{{initOptions.btnNextText}}
				</button>
				<button type="button" class="btn btn-default" data-ng-click="initOptions.onClose()" style="display:inline-block;">
					{{initOptions.btnCloseText}}
				</button>
			</div>
			<div data-ng-switch-when="step2" style="width: 100%;">
				<div class="platform-form-group platform-lg">
				</div>
				<div class="platform-form-group platform-lg" style="text-align: right;">
					<button type="button" class="btn btn-default"
							data-ng-click="initOptions.onOk()"
							data-ng-disabled="initOptions.onOkButtonDisabled() || initOptions.isBtnOKDisabled" style="display:inline-block;">
						{{initOptions.overWriteOrCreateText}}
					</button>
					<button type="button" class="btn btn-default" data-ng-click="initOptions.onClose()" style="display:inline-block;">
						{{initOptions.btnCloseText}}
					</button>
				</div>
			</div>
			<div data-ng-switch-when="step3">
				<button class="btn btn-default" title="{{initOptions.navigateTitle}}"
						data-ng-disabled="initOptions.isBtnNavigateDisabled" ng-click="initOptions.onNavigate()" style="display:inline-block;">
					{{initOptions.navigateTitle}}
				</button>
				<button class="btn btn-default" data-ng-click="initOptions.onClose()" style="display:inline-block;"> {{'cloud.common.close' | translate }}</button>
			</div>
	</footer>

	<div cloud-common-overlay data-loading="initOptions.dialogLoading" data-info="initOptions.loadingInfo"></div>
</div>