<div data-accordion data-close-others="false">
	<div data-accordion-group data-is-open="inputOpen">
		<div data-accordion-heading>
			<span
				class="platform-form-group-header-text">{{'basics.workflow.action.input.containerHeader' | translate}}</span>

			<span class="platform-form-group-header">
				<div class="toggleImg control-icons ico-up" data-ng-show="inputOpen"></div>
            <div class="toggleImg control-icons ico-down" data-ng-show="!inputOpen"></div>
			</span>
		</div>
		<!-- Structure Id -->
		<div class="radiolist-container" style="margin-top: 0px;">
			<div class="radio spaceToUp pull-left">
				<label>
					<input name="radioGroupA" ng-click="onRadioGroupOptChanged('1', 'editorModeStructure')" ng-disabled="readonly" ng-model="input.editorModeStructure"
					       ng-value="1" type="radio">
					{{'basics.workflow.modalDialogs.defaultRadio' | translate }}
				</label>
			</div>
			<div class="radio spaceToUp pull-left margin-left-ld">
				<label>
					<input name="radioGroupA" ng-click="onRadioGroupOptChanged('2', 'editorModeStructure')" ng-disabled="readonly" ng-model="input.editorModeStructure"
					       ng-value="2" type="radio">
					{{'basics.workflow.modalDialogs.expertRadio' | translate }}
				</label>
			</div>
		</div>

		<div class="platform-form-group" data-ng-show="input.editorModeStructure === 1">
			<div class="platform-form-row">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.structure' | translate }}</label>
				<div class="platform-form-col">
					<div basics-procurementstructure-structure-dialog class="fullwidth"
					     data-ng-model="input.structureSelect" disabled="codeMirrorOptions.readOnly"></div>
				</div>
			</div>
		</div>
		<div class="platform-form-group" data-ng-show="input.editorModeStructure === 2">
			<div class="platform-form-row">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.structureId' | translate
					}}</label>
				<div class="platform-form-col">
					<div data-ng-model="input.structureId" data-options="codeMirrorOptions"
					     data-script-editor-directive></div>
				</div>
			</div>
		</div>

		<!-- Clerk Role Id -->
		<div class="radiolist-container">
			<div class="radio spaceToUp pull-left">
				<label>
					<input name="radioGroupB" ng-click="onRadioGroupOptChanged('1', 'editorModeClerkRole')" ng-disabled="readonly" ng-model="input.editorModeClerkRole"
					       ng-value="1" type="radio">
					{{'basics.workflow.modalDialogs.defaultRadio' | translate }}
				</label>
			</div>
			<div class="radio spaceToUp pull-left margin-left-ld">
				<label>
					<input name="radioGroupB" ng-click="onRadioGroupOptChanged('2', 'editorModeClerkRole')" ng-disabled="readonly" ng-model="input.editorModeClerkRole"
					       ng-value="2" type="radio">
					{{'basics.workflow.modalDialogs.expertRadio' | translate }}
				</label>
			</div>
		</div>

		<div class="platform-form-group" data-ng-show="input.editorModeClerkRole == 1">
			<div class="platform-form-row">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.clerkRole' | translate }}</label>
				<div class="platform-form-col">
					<div data-domain="select" data-domain-control data-entity="input.clerkRoleUrl"
					     data-model="input.clerkRoleSelect" data-options="selectOptionsStatusId"
					     readonly="codeMirrorOptions.readOnly"></div>
				</div>
			</div>
		</div>

		<div class="platform-form-group" data-ng-show="input.editorModeClerkRole == 2">
			<div class="platform-form-row">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.clerkRoleId' | translate
					}}</label>
				<div class="platform-form-col">
					<div data-ng-model="input.clerkRoleId" data-options="codeMirrorOptions"
					     data-script-editor-directive></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div data-accordion data-close-others="false">
	<div data-accordion-group data-is-open="outputOpen">
		<div data-accordion-heading>
			<span
				class="platform-form-group-header-text">{{'basics.workflow.action.output.containerHeader' | translate}}</span>
			<span class="platform-form-group-header">
            <div class="toggleImg control-icons ico-up" data-ng-show="outputOpen"></div>
            <div class="toggleImg control-icons ico-down" data-ng-show="!outputOpen"></div>
         </span>
		</div>

		<div class="platform-form-group">
			<div class="platform-form-row">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.clerk' | translate }}</label>
				<div class="platform-form-col">
					<div data-ng-model="output.property" data-options="codeMirrorOptions" data-script-editor-directive></div>
				</div>
			</div>
		</div>
	</div>
</div>
