<div data-accordion data-close-others="false">
	<div data-accordion-group data-is-open="inputOpen">
		<div data-accordion-heading>
			<span
				class="platform-form-group-header-text">{{'basics.workflow.action.input.containerHeader' | translate}}</span>

			<span class="platform-form-group-header">
            <div class="toggleImg control-icons ico-up" data-ng-show="inputOpen"></div>
            <div class="toggleImg control-icons ico-down" data-ng-show="!inputOpen"></div>
			</span>
		</div>
		<div class="platform-form-group">
			<!-- ProjectId -->
			<div class="platform-form-row form-group">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.projectDocu.project' | translate
					}}</label>
				<div class="platform-form-col">
					<div data-ng-model="input.project" data-options="codeMirrorOptions" data-script-editor-directive></div>
				</div>
			</div>
			<!-- BusinessPartnerId -->
			<div class="platform-form-row form-group">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.projectDocu.bp' | translate
					}}</label>
				<div class="platform-form-col">
					<div data-ng-model="input.bp" data-options="codeMirrorOptions" data-script-editor-directive></div>
				</div>
			</div>
			<!-- CertificateId -->
			<div class="platform-form-row form-group">
				<label
					class="platform-form-label">{{'basics.workflow.action.customEditor.projectDocu.certificate' | translate
					}}</label>
				<div class="platform-form-col">
					<div data-ng-model="input.certificate" data-options="codeMirrorOptions"
					     data-script-editor-directive></div>
				</div>
			</div>
			<!-- StructureId -->
			<div class="platform-form-row form-group">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.projectDocu.structure' | translate
					}}</label>
				<div class="platform-form-col">
					<div data-ng-model="input.structure" data-options="codeMirrorOptions" data-script-editor-directive></div>
				</div>
			</div>
			<!-- MaterialCatalogId -->
			<div class="platform-form-row form-group">
				<label
					class="platform-form-label">{{'basics.workflow.action.customEditor.projectDocu.materialCatalog' | translate
					}}</label>
				<div class="platform-form-col">
					<div data-ng-model="input.materialCatalog" data-options="codeMirrorOptions"
					     data-script-editor-directive></div>
				</div>
			</div>
			<!-- PackageId -->
			<div class="platform-form-row form-group">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.projectDocu.package' | translate
					}}</label>
				<div class="platform-form-col">
					<div data-ng-model="input.package" data-options="codeMirrorOptions" data-script-editor-directive></div>
				</div>
			</div>
			<!-- RFQId -->
			<div class="platform-form-row form-group">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.projectDocu.rfq' | translate
					}}</label>
				<div class="platform-form-col">
					<div data-ng-model="input.rfq" data-options="codeMirrorOptions" data-script-editor-directive></div>
				</div>
			</div>
			<!-- QTNId -->
			<div class="platform-form-row form-group">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.projectDocu.qtn' | translate
					}}</label>
				<div class="platform-form-col">
					<div data-ng-model="input.qtn" data-options="codeMirrorOptions" data-script-editor-directive></div>
				</div>
			</div>
			<!-- CONId -->
			<div class="platform-form-row form-group">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.projectDocu.con' | translate
					}}</label>
				<div class="platform-form-col">
					<div data-ng-model="input.con" data-options="codeMirrorOptions" data-script-editor-directive></div>
				</div>
			</div>
			<!-- PESId -->
			<div class="platform-form-row form-group">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.projectDocu.pes' | translate
					}}</label>
				<div class="platform-form-col">
					<div data-ng-model="input.pes" data-options="codeMirrorOptions" data-script-editor-directive></div>
				</div>
			</div>
			<!-- INVId -->
			<div class="platform-form-row form-group">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.projectDocu.inv' | translate
					}}</label>
				<div class="platform-form-col">
					<div data-ng-model="input.inv" data-options="codeMirrorOptions" data-script-editor-directive></div>
				</div>
			</div>
			<!-- ScheduleId -->
			<div class="platform-form-row form-group">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.projectDocu.schedule' | translate
					}}</label>
				<div class="platform-form-col">
					<div data-ng-model="input.schedule" data-options="codeMirrorOptions" data-script-editor-directive></div>
				</div>
			</div>
			<!-- ActivityId -->
			<div class="platform-form-row form-group">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.projectDocu.activity' | translate
					}}</label>
				<div class="platform-form-col">
					<div data-ng-model="input.activity" data-options="codeMirrorOptions" data-script-editor-directive></div>
				</div>
			</div>
			<!-- ESTId -->
			<div class="platform-form-row form-group">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.projectDocu.est' | translate
					}}</label>
				<div class="platform-form-col">
					<div data-ng-model="input.est" data-options="codeMirrorOptions" data-script-editor-directive></div>
				</div>
			</div>
			<!--REQId -->
			<div class="platform-form-row form-group">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.projectDocu.req' | translate
					}}</label>
				<div class="platform-form-col">
					<div data-ng-model="input.req" data-options="codeMirrorOptions" data-script-editor-directive></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div data-accordion data-close-others="false">
	<div data-accordion-group data-is-open="outputOpen">
		<div data-accordion-heading>
			<span
				class="platform-form-group-header-text">{{'basics.workflow.action.output.containerHeader' | translate}}</span>
			<span class="platform-form-group-header">
            <div class="toggleImg control-icons ico-up" data-ng-show="outputOpen"></div>
            <div class="toggleImg control-icons ico-down" data-ng-show="!outputOpen"></div>
         </span>
		</div>

		<div class="platform-form-group">
			<div class="platform-form-row">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.projectDocu.output' | translate
					}}</label>
				<div class="platform-form-col">
					<div data-ng-model="output.document" data-options="codeMirrorOptions" data-script-editor-directive></div>
				</div>
			</div>
		</div>
	</div>
</div>
