<div data-accordion data-close-others="false">
	<div data-accordion-group data-is-open="inputOpen">
		<div data-accordion-heading>
			<span
				class="platform-form-group-header-text">{{'basics.workflow.action.input.containerHeader' | translate}}</span>

			<span class="platform-form-group-header">
            <div class="toggleImg control-icons ico-up" data-ng-show="inputOpen"></div>
            <div class="toggleImg control-icons ico-down" data-ng-show="!inputOpen"></div>
			</span>
		</div>

		<div class="platform-form-group">
			<div class="platform-form-row">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.portal.recipient' | translate
					}}</label>
				<div class="platform-form-col">
					<div data-ng-model="input.recipient" data-options="codeMirrorOptions"
					     data-script-editor-directive></div>
				</div>
			</div>
			<div class="platform-form-row">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.mail.subject' |
				translate
					}}</label>
				<div class="platform-form-col">
					<div data-ng-model="input.subject" data-options="codeMirrorOptions"
					     data-script-editor-directive></div>
				</div>
			</div>
			<div class="platform-form-row">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.mail.body' |
				translate
					}}</label>
				<div class="platform-form-col">
					<div class="filler" data-ng-model="input.body" data-options="codeMultiMirrorOptions"
					     data-script-editor-directive></div>
				</div>
			</div>
			<div class="platform-form-group">
				<div data-change="changeCheckbox()" data-domain="boolean" data-domain-control
				     data-model="input.isPopUp"
				     data-options="isPopUpOptions"
				     readonly="codeMultiMirrorOptions.readOnly"></div>
			</div>
		</div>
	</div>
</div>

<div data-accordion data-close-others="false">
	<div data-accordion-group data-is-open="outputOpen">
		<div data-accordion-heading>
			<span
				class="platform-form-group-header-text">{{'basics.workflow.action.output.containerHeader' | translate}}</span>
			<span class="platform-form-group-header">
            <div class="toggleImg control-icons ico-up" data-ng-show="outputOpen"></div>
            <div class="toggleImg control-icons ico-down" data-ng-show="!outputOpen"></div>
         </span>
		</div>

		<div class="platform-form-group">
			<div class="platform-form-row">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.portal.resultCode' | translate
					}}</label>
				<div class="platform-form-col">
					<div data-ng-model="output.resultCode" data-options="codeMirrorOptions"
					     data-script-editor-directive></div>
				</div>
			</div>
		</div>
	</div>
</div>

