<div data-accordion data-close-others="false">
	<div data-accordion-group data-is-open="outputOpen">
		<div data-accordion-heading>
			<span
				class="platform-form-group-header-text">{{'basics.workflow.action.output.containerHeader' | translate}}</span>
			<span class="platform-form-group-header">
                  <div class="toggleImg control-icons ico-up" data-ng-show="outputOpen"></div>
                  <div class="toggleImg control-icons ico-down" data-ng-show="!outputOpen"></div>
              </span>
		</div>
		<div class="platform-form-group">
			<div class="platform-form-row">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.succeeded' | translate
					}}</label>
				<div class="platform-form-col">
					<div data-change="saveOutputParams()" data-domain="description" data-domain-control
					     data-ng-model="output.succeeded" readonly="codeMirrorOptions.readOnly"></div>
				</div>
			</div>
			<div class="platform-form-row">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.errorMessage' | translate
					}}</label>
				<div class="platform-form-col">
					<div data-change="saveOutputParams()" data-domain="description" data-domain-control
					     data-ng-model="output.errorMessage" readonly="codeMirrorOptions.readOnly"></div>
				</div>
			</div>
			<div class="platform-form-row">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.' + thirdParam | translate
					}}</label>
				<div class="platform-form-col">
					<div data-change="saveOutputParams()" data-domain="description" data-domain-control
					     data-ng-model="output.depend" readonly="codeMirrorOptions.readOnly"></div>
				</div>
			</div>
		</div>
	</div>
</div>
