<div data-accordion data-close-others="false">
	<div data-accordion-group data-is-open="inputOpen">
		<div data-accordion-heading>
			<span
				class="platform-form-group-header-text">{{'basics.workflow.action.input.containerHeader' | translate}}</span>

			<span class="platform-form-group-header">
            <div class="toggleImg control-icons ico-up" data-ng-show="inputOpen"></div>
            <div class="toggleImg control-icons ico-down" data-ng-show="!inputOpen"></div>
			</span>
		</div>

		<div class="platform-form-group">
			<div class="platform-form-row">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.property' | translate
					}}</label>
				<div class="platform-form-col">
					<div data-ng-model="input.script" data-options="codeMirrorOptions"
					     data-script-editor-directive></div>
				</div>
			</div>
		</div>
		<div class="radiolist-container">
			<div data-radiolistctrl displayMember="description" ng-model="input.editorMode"
			     on-selection-changed="onRadioGroupOptChanged(value)"
			     options="input.radioGroupOpt" readonly="codeMirrorOptions.readOnly"
			     valueMember="value"></div>
		</div>

		<div class="platform-form-group">
			<div class="platform-form-row" data-ng-show="input.editorMode === 1">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.entityName' | translate
					}}</label>
				<div class="platform-form-col">
					<div data-domain="select" data-domain-control data-model="input.entity"
					     data-options="selectOptions" readonly="codeMirrorOptions.readOnly"></div>
				</div>
			</div>

			<div class="platform-form-row" data-ng-show="input.editorMode === 2">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.params' | translate }}</label>
				<div class="platform-form-col">
					<div data-ng-model="input.entityscript" data-options="codeMirrorOptions"
					     data-script-editor-directive></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div data-accordion data-close-others="false">
	<div data-accordion-group data-is-open="outputOpen">
		<div data-accordion-heading>
			<span
				class="platform-form-group-header-text">{{'basics.workflow.action.output.containerHeader' | translate}}</span>
			<span class="platform-form-group-header">
            <div class="toggleImg control-icons ico-up" data-ng-show="outputOpen"></div>
            <div class="toggleImg control-icons ico-down" data-ng-show="!outputOpen"></div>
         </span>
		</div>

		<div class="platform-form-group">
			<div class="platform-form-row">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.outputSaveObject' | translate
					}}</label>
				<div class="platform-form-col">
					<div data-ng-model="output.saveObject" data-options="codeMirrorOptions"
					     data-script-editor-directive></div>
				</div>
			</div>
		</div>
	</div>
</div>
