<div data-accordion data-close-others="false">
	<div data-accordion-group data-is-open="inputOpen">
		<div data-accordion-heading>
			<span
				class="platform-form-group-header-text">{{'basics.workflow.action.input.containerHeader' | translate}}</span>

			<span class="platform-form-group-header">
            <div class="toggleImg control-icons ico-up" data-ng-show="inputOpen"></div>
            <div class="toggleImg control-icons ico-down" data-ng-show="!inputOpen"></div>
			</span>
		</div>

		<div class="platform-form-group">
			<div class="platform-form-row">
				<div class="platform-form-label">{{'basics.workflow.action.customEditor.entityId' | translate }}</div>
				<div class="platform-form-col">
					<div data-ng-model="input.EntityId" data-options="codeMirrorOptions"
					     data-script-editor-directive></div>
				</div>
			</div>
			<div class="platform-form-row">
				<div class="platform-form-label">{{'basics.workflow.action.customEditor.startContext' | translate }}
				</div>
				<div class="platform-form-col">
					<div data-ng-model="input.StartContext" data-options="codeMirrorOptions"
					     data-script-editor-directive></div>
				</div>
			</div>
		</div>

		<div class="radiolist-container">
			<div data-radiolistctrl ng-model="input.editorMode" on-selection-changed="onRadioGroupOptChanged(value)"
			     options="radioGroupOpt" readonly="codeMirrorOptions.readOnly"></div>
		</div>

		<div class="platform-form-group">
			<div basics-workflow-resize-grid-directive class="platform-form-row" data-ng-show="editorMode === 1">
				<div class="platform-form-label">{{'basics.workflow.action.customEditor.workflow' | translate }}</div>
				<div class="platform-form-col">
					<div data-basics-workflow-combo-box data-ng-model="input.WorkflowId"
					     disabled="codeMirrorOptions.readOnly"></div>
				</div>
			</div>

			<div class="platform-form-row" data-ng-show="editorMode === 2">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.params' | translate }}</label>
				<div class="platform-form-col">
					<div data-ng-model="input.WorkflowId" data-options="codeMirrorOptions"
					     data-script-editor-directive></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div data-accordion data-close-others="false">
	<div data-accordion-group data-is-open="outputOpen">
		<div data-accordion-heading>
			<span
				class="platform-form-group-header-text">{{'basics.workflow.action.output.containerHeader' | translate}}</span>
			<span class="platform-form-group-header">
            <div class="toggleImg control-icons ico-up" data-ng-show="outputOpen"></div>
            <div class="toggleImg control-icons ico-down" data-ng-show="!outputOpen"></div>
         </span>
		</div>

		<div class="platform-form-group">
			<div class="platform-form-row">
				<label class="platform-form-label">{{'basics.workflow.action.customEditor.resultContex' | translate
					}}</label>
				<div class="platform-form-col">
					<div data-ng-model="output.ResultContext" data-options="codeMirrorOptions"
					     data-script-editor-directive></div>
				</div>
			</div>
		</div>
	</div>
</div>
