<header class="modal-header main-color" data-ng-include="'modaldialog/modaldialog-header-template.html'"></header>

<section class="modal-body">
    <tabset class="tabsWrapper">
        <tab ng-repeat="tab in modalOptions.tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled" ng-click="modalOptions.onTabSelect(tab)">
            <div data-ng-include="tab.content"></div>
        </tab>
    </tabset>
</section>
<footer class="modal-footer">
    <button type="button" class="btn btn-default" data-ng-disabled="isAdConfigTabActive() && multiConfigVisible" data-ng-click="modalOptions.ok()">
        {{'cloud.common.ok' | translate }}
    </button>
    <button type="button" class="btn btn-default" data-ng-disabled="requirement" data-ng-click="modalOptions.cancel()">
        {{'cloud.common.cancel' | translate}}
    </button>
</footer>
