<div data-platform-alert data-error='error'></div>
<!--<wysiwyg textarea-id="htmlEditor" textarea-class=""-->
<!--         textarea-name="textareaQuestion"-->
<!--         textarea-height="100%"-->
<!--         textarea-editable="textareaEditable"-->
<!--         action="onChange()"-->
<!--         textarea-required data-ng-model="specification.Content"-->
<!--         enable-bootstrap-title="true">-->
<!--</wysiwyg>-->
<div data-basics-meeting-specification-html-editor
     data-entity="specification"
     data-ng-model="specification.Content"
     data-ng-change="onChange()"
     data-options="editorOptions"
     data-editable="textareaEditable"
     class="flex-element flex-box flex-column overflow">
</div>
