<div data-ng-controller="modelMainObjectSidebarSearchSettingsController">
	<form name="settingsSearch" class="margin-top-ld platform-form-group">

		<label class="subTitle" data-ng-bind="translate.cloud.desktop.sdSettingSupportLabel"></label>

		<div class="filteroptions">
			<div class="margin-top-ld">
				<div data-domain-control data-domain="boolean" data-model="settingsOptions.filterRequest.withExecutionHints" data-options="settingsOptions.withExecutionHintsChk">
				</div>
			</div>
		</div>

		<div class="topmargin" data-ng-if="settingsOptions.filterRequest.withExecutionHints">
			<label data-ng_bind="settingsOptions.executionHintLabel"></label>
			<textarea class="textareafull fullwidth" data-ng-bind="settingsOptions.filterInfo.executionInfo"
            style="height: 300px;" readonly="readonly"></textarea>
		</div>
	</form>
</div>
