<div data-ng-controller="controllingGeneralContractorCreateCostControlFrmEstWizardController">
    <header class="modal-header" data-ng-include="'modaldialog/modaldialog-header-template.html'"></header>
    <section class="modal-body">
        <div class="platform-lg" >
            <div class="ng-scope">
                <div>
                    <div data-platform-alert data-error="noPinProjectError"></div>
                </div>

            </div>
        </div>
        <platform-Grid class="border-all" data="gridData"></platform-Grid>

        <div>
            <label style="padding: 15px 0 0 15px;font-size:15px;">
                {{'controlling.generalcontractor.estimateWizardHint' | translate}}
            </label>
        </div>
    </section>
    <footer class="modal-footer">
        <button type="button" class="btn btn-default" data-ng-disabled="isOkDisabled" data-ng-click="modalOptions.ok()" data-ng-bind="'basics.common.button.ok' | translate"></button>
        <button type="button" class="btn btn-default" data-ng-click="modalOptions.cancel()" data-ng-bind="'basics.common.button.cancel' | translate"></button>
        </button>
    </footer>
</div>