<header class="modal-header main-color" data-ng-include="'modaldialog/modaldialog-header-template.html'">
</header>
<section ng-cloak class="modal-body">
	<div style="width:100%;" class="flex-box flex-column lookup-grid-container subview-container">
		<div class="subview-header toolbar">
			<h3 class="font-bold title fix">{{'productionplanning.item.dailyProduction.listTitle' | translate}}</h3>
		</div>
		<div class="flex-element flex-box flex-column">
			<div class="flex-basis-auto" data-platform-grid data="gridOptions"></div>
			<div cloud-common-overlay data-loading="isLoading"></div>
		</div>
	</div>

</section>
<footer class="modal-footer">
	<button type="button" class="btn btn-default" data-ng-disabled="isOKDisabled()" data-ng-click="handleOK()">
		{{'cloud.common.ok' | translate}}
	</button>
	<button type="button" class="btn btn-default" data-ng-disabled="requirement" data-ng-click="$close(false)">
		{{'cloud.common.cancel' | translate}}
	</button>
</footer>