<platform-generic-structure data-options="options" data-items="containerItems" data-context="pinningContext"
                            class="fullheight"
                            on-grouping-change="onGroupingChanged(cid,type)"
                            on-groupState-change="onGroupStateChanged(cid,state)"
                            on-selection-changed="onSelectionChanged(evt,args)"
                            on-filter-changed="onFilterChanged(filterItems)"
                            on-items-processed="onItemsProcessed(data)"
>
</platform-generic-structure>