<div>
	<h6>{{'sales.common.updatePrjBoqWizard.subtitle' | translate}}</h6>
	<div class="platform-form-group" style="padding-left:35px;">
		<div style="padding-top:5px" class="checkbox spaceToUp col-lg-offset-0">
			<label><input type="checkbox" name="UpdateBudgets" data-ng-model="dialog.modalOptions.value.UpdateBudgets">{{'sales.common.updatePrjBoqWizard.updateBudgets' | translate}}</label>
		</div>
		<div style="padding-top:5px" class="checkbox spaceToUp col-lg-offset-0">
			<label><input type="checkbox" name="UpdateQuantities" data-ng-model="dialog.modalOptions.value.UpdateQuantities">{{'sales.common.updatePrjBoqWizard.updateQuantities' | translate}}</label>
		</div>
		<div style="margin-left:14px;padding-top:5px" class="checkbox spaceToUp col-lg-offset-0">
			<label><input type="checkbox" name="WqQuantity" data-ng-model="dialog.modalOptions.value.UpdateWqQuantity">{{'sales.common.updatePrjBoqWizard.wqQuantity' | translate}}</label>
		</div>
		<div style="margin-left:14px;padding-top:5px" class="checkbox spaceToUp col-lg-offset-0">
			<label><input type="checkbox" name="AqQuantity" data-ng-model="dialog.modalOptions.value.UpdateAqQuantity">{{'sales.common.updatePrjBoqWizard.aqQuantity' | translate}}</label>
		</div>
		<div style="padding-top:5px" class="checkbox spaceToUp col-lg-offset-0">
			<label><input type="checkbox" name="UpdatePrices" data-ng-model="dialog.modalOptions.value.UpdatePrices">{{'sales.common.updatePrjBoqWizard.updatePrices' | translate}}</label>
		</div>
		<div style="padding-top:5px" class="checkbox spaceToUp col-lg-offset-0">
			<label><input type="checkbox" name="UpdateCostGroups" data-ng-model="dialog.modalOptions.value.UpdateCostGroups">{{'sales.common.updatePrjBoqWizard.updateCostGroups' | translate}}</label>
		</div>
	</div>
</div>