<!-- TODO: check-->
<!--<div class="platform-form-container" data-platform-container-content>-->
<!--	<div data-platform-form data-form-options="formContainerOptions.formOptions" data-entity="entity"></div>-->
<!--</div>-->

<!-- TODO: check => class="flex-element flex-box flex-column">-->
<div data-ng-controller="salesCommonCreateDialogTabBasicsController" class="modal-wrapper">
	<div data-ng-show="isFunctionalRoleRestriction()" class="alert alert-info">
		{{restrictionText}}
	</div>
	<div data-platform-form-container data-form-container-options="formContainerOptions" entity="dataItem" class="flex-element flex-basis-auto"></div>
</div>

