<section class="flex-box flex-column flex-element map-polygon-wrapper">
	<div data-platform-kendo-splitter-adjust class="fullheight" data-on-resize="resizeMapContent">

		<div class="fullheight">
			<platform-Grid data="gridData" data-platform-dragdrop-component="app/components/base/grid-partial.html"></platform-Grid>
		</div>
		<div >
			<div data-model-map-polygon-overlay data-viewer="viewer" data-set-link="overlayLink=link"></div>
			<div data-model-viewer-hoops-simple   class="flex-box flex-column   flex-element fullheight"  data-viewer="viewer" data-config="viewerConfig"></div>

		</div>
	</div>
</section>