<div id="editorSplitter" class="margin flex-box">
	<div class="margin flex-box flex-element flex-column" style="flex:0.5;">
		<div id="pane-l" class="flex-element" editor-container></div>
	</div>
	<div class="margin flex-box flex-element flex-column">
		<div id="pane-ct" class="flex-element" editor-container></div>
		<div class="margin flex-box flex-element">
			<div id="pane-cb1" class="flex-element" editor-container></div>
			<div id="pane-cb2" class="flex-element" editor-container></div>
            <div id="pane-cb3" class="flex-element" editor-container></div>
		</div>
	</div>
	<div class="margin flex-box flex-element flex-column" style="flex:0.5;">
		<div id="pane-r" class="flex-element" editor-container></div>
	</div>
</div>