<div id="editorSplitter" class="margin flex-box">
	<div class="margin flex-box flex-element flex-column">
		<div id="pane-lt" class="flex-element" editor-container></div>
		<div id="pane-lb" class="flex-element" editor-container></div>
	</div>
	<div id="pane-c" class="flex-element" editor-container></div>
	<div class="margin flex-box flex-element flex-column">
		<div id="pane-rt" class="flex-element" editor-container></div>
		<div id="pane-rb" class="flex-element" editor-container></div>
	</div>
</div>