<div id="editorSplitter" class="margin flex-box">
	<div class="flex-box margin flex-element flex-column">
		<div id="pane-lt" class="flex-element" editor-container></div>
		<div id="pane-lc" class="flex-element" editor-container></div>
		<div id="pane-lb" class="flex-element" editor-container></div>
	</div>
	<div class="flex-box flex-element margin flex-column">
		<div id="pane-rt" class="flex-element" editor-container></div>
		<div id="pane-rc" class="flex-element" editor-container></div>
		<div id="pane-rb" class="flex-element" editor-container></div>
	</div>
</div>