<div id="splitter" class="k-content filler relative-container">
	<div id="horizontal" class="filler">
		<div id="verticalLeft">
			<div class="pane-content fullheight">
				<div id="pane-l" sub-view-container class="fullheight"></div>
			</div>
		</div>
		<div id="vertical" class="splitter-right-container">
			<div>
				<div class="pane-content fullheight">
					<div id="pane-rt" sub-view-container class="fullheight"></div>
				</div>
			</div>
			<div>
				<div class="pane-content fullheight">
					<div id="pane-rb" sub-view-container class="fullheight"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div platform-layout-splitter></div>