<div id="splitter" class="k-content" style="height: 100%; width: 100%; position:relative;">
	<div id="horizontal" style="height: 100%; width: 100%;">
		<div style="height: 100%">
			<div class="pane-content" style="height: 100%">
				<div id="pane-l" sub-view-container style="height: 100%"></div>
			</div>
		</div>
		<div style="height: 100%">
			<div class="pane-content" style="height: 100%">
				<div id="pane-c" sub-view-container style="height: 100%"></div>
			</div>
		</div>
		<div>
			<div id="verticalRight" style="height: 100%;width:100%;">
				<div>
					<div class="pane-content" style="height: 100%">
						<div id="pane-rt" sub-view-container style="height: 100%"></div>
					</div>
				</div>
				<div>
					<div class="pane-content" style="height: 100%">
						<div id="pane-rb" sub-view-container style="height: 100%"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div platform-layout-splitter></div>