<div id="splitter" class="k-content filler relative-container">
	<div id="horizontal" class="filler">
		<div class="fullheight">
			<div class="pane-content fullheight">
				<div id="pane-l" sub-view-container class="fullheight"></div>
			</div>
		</div>
		<div>
			<div id="vertical" class="filler">
				<div>
					<div class="pane-content fullheight">
						<div id="pane-ct" sub-view-container class="fullheight"></div>
					</div>
				</div>
                <div id="horizontalBottom">
                    <div>
                        <div class="pane-content fullheight">
                            <div id="pane-cb1" sub-view-container class="fullheight"></div>
                        </div>
                    </div>
                    <div>
                        <div class="pane-content fullheight">
                            <div id="pane-cb2" sub-view-container class="fullheight"></div>
                        </div>
                    </div>
                    <div>
                        <div class="pane-content fullheight">
                            <div id="pane-cb3" sub-view-container class="fullheight"></div>
                        </div>
                    </div>
                </div>	
			</div>
		</div>
		<div class="fullheight">
			<div class="pane-content fullheight">
				<div id="pane-r" sub-view-container class="fullheight"></div>
			</div>
		</div>
	</div>
</div>
<div platform-layout-splitter></div>