<div id="splitter" class="k-content filler relative-container">
	<div id="horizontal" class="filler">
		<div id="verticalLeft" class="splitter-left-container">
			<div>
				<div class="pane-content fullheight">
					<div id="pane-lt" sub-view-container class="fullheight"></div>
				</div>
			</div>
			<div>
				<div class="pane-content fullheight">
					<div id="pane-lc" sub-view-container class="fullheight"></div>
				</div>
			</div>
			<div>
				<div class="pane-content fullheight">
					<div id="pane-lb" sub-view-container class="fullheight"></div>
				</div>
			</div>
		</div>
		<div id="verticalRight" class="filler">
			<div>
				<div class="pane-content fullheight">
					<div id="pane-rt" sub-view-container class="fullheight"></div>
				</div>
			</div>
			<div>
				<div class="pane-content fullheight">
					<div id="pane-rb" sub-view-container class="fullheight"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div platform-layout-splitter></div>
