<div id="splitter" class="k-content" style="height: 100%; width: 100%;position:relative;">
	<div id="horizontal" style="height: 100%; width: 100%;">
		<div id="verticalLeft">
			<div>
				<div class="pane-content" style="height: 100%">
					<div id="pane-lt" sub-view-container style="height: 100%"></div>
				</div>
			</div>
			<div>
				<div class="pane-content" style="height: 100%">
					<div id="pane-lc" sub-view-container style="height: 100%"></div>
				</div>
			</div>
			<div>
				<div class="pane-content" style="height: 100%">
					<div id="pane-lb" sub-view-container style="height: 100%"></div>
				</div>
			</div>
		</div>
		<div id="verticalRight">
			<div>
				<div class="pane-content" style="height: 100%">
					<div id="pane-rt" sub-view-container style="height: 100%"></div>
				</div>
			</div>
			<div>
				<div class="pane-content" style="height: 100%">
					<div id="pane-rc" sub-view-container style="height: 100%"></div>
				</div>
			</div>
			<div>
				<div class="pane-content" style="height: 100%">
					<div id="pane-rb" sub-view-container style="height: 100%"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div platform-layout-splitter></div>

