<div id="splitter" class="k-content" style="height: 100%; width: 100%;position:relative;">
	<div id="vertical" style="height: 100%; width: 100%;">
		<div id="horizontalTop">
			<div class="pane-content" style="height: 100%">
				<div id="pane-t" sub-view-container style="height: 100%"></div>
			</div>
		</div>
		<div id="horizontalBottom">
			<div class="pane-content" style="height: 100%">
				<div id="pane-b" sub-view-container style="height: 100%"></div>
			</div>
		</div>
	</div>
</div>
<div platform-layout-splitter></div>