<!--<div class="flex-box flex-column flex-element"-->
     <!--data-basics-quantity-query-editor-->
     <!--data-readonly="service.readonly"-->
     <!--data-ng-model="service.currentItem.ScriptData"-->
     <!--data-entity="service.currentItem"-->
     <!--data-on-init="onInit(cm,vm)"-->
     <!--data-options="options">-->

    <div class="full-size"
         data-basics-quantity-query-editor
         data-ng-model="service.currentItem.ScriptData"
         data-editor-data-service="editorDataService"
         data-cm-read-only="cmReadOnly"
         data-cm-doc-value="cmDocValue"
         data-entity="service.currentItem"
         data-on-init="onInit(cm,vm)"
         data-options="options">

</div>
<!--<div class="full-size"-->
     <!--data-basics-quantity-query-editor-->
     <!--data-ng-model="service.currentItem.ScriptData"-->
     <!--data-options="options">-->

<!--</div>-->
<!--<input type="text" data-basics-quantity-query-editor/>-->