
<!--<div data-cloud-common-overlay data-info2="displayTextMessage" data-loading="viewDeleting" data-css-class="css"></div>-->

<header class="modal-header main-color">
    <button type="button" class="close db" data-dismiss="modal" data-ng-click="modalOptions.close()"
            aria-hidden="true">
        <svg data-cloud-desktop-svg-image data-sprite="control-wh-icons" data-image="ico-close" class="block-image"></svg>
    </button>
    <h2 class="modal-title">{{modalOptions.headerText}}</h2>
</header>

<!--<section class="modal-body">-->
<section class="modal-body" style="height: 200px;">
    <div data-cloud-common-overlay data-info2="displayTextMessage" data-loading="viewDeleting" data-css-class="css"></div>
</section>
<!--<footer class="modal-footer">-->
    <!--<button type="button" class="btn btn-default" data-ng-disabled="okBtnDisabled" data-ng-click="modalOptions.ok()">-->
        <!--{{modalOptions.actionButtonText}}-->
    <!--</button>-->
    <!--<button type="button" class="btn btn-default" data-ng-disabled="requirement" data-ng-click="modalOptions.close()">-->
        <!--{{modalOptions.closeButtonText}}-->
    <!--</button>-->
<!--</footer>-->