<style>
	.platform-form-group {
		padding: 8px;
		margin: 8px;
	}
</style>
<header class="modal-header main-color"
        data-ng-include="'modaldialog/modaldialog-header-template.html'"></header>

<section class="modal-body" data-platform-form-adjust-label>
	<div class="platform-form-group">

		<div class="platform-form-row">
			<label class="platform-form-label ng-binding">{{'scheduling.main.printing.paperSize' | translate}}</label>

			<div class="platform-form-col">
			<span class="form-control" data-domain-control data-domain="select" data-model="settings.papersize"
			      data-change="settings.changePapersizeOpt(value)" data-options="settings.papersizeOpt"></span>
			</div>
		</div>

		<div class="platform-form-row">
			<label class="platform-form-label ng-binding">{{'scheduling.main.printing.pageOrientation' | translate}}</label>

			<div class="platform-form-col">
				<data-radiolistctrl ng-model="settings.orientation" options="settings.orientationOpt"
				                    on-selection-changed="settings.changeOrientationOpt(value)" valueMember="value"
				                    displayMember="description"></data-radiolistctrl>
			</div>
		</div>

		<div class="platform-form-row">
			<label class="platform-form-label ng-binding">{{'scheduling.main.printing.header' | translate}}</label>
			<div class="platform-form-col">
				<span data-domain-control data-domain="select" data-options="headerOptions"
				      data-model="settings.reportHeaderId" data-change="settings.headerChanged(item, prevItem)"></span>
			</div>
		</div>
		<div class="platform-form-row">
			<label class="platform-form-label ng-binding">{{'scheduling.main.printing.footer' | translate}}</label>
			<div class="platform-form-col">
				<span data-domain-control data-domain="select" data-options="footerOptions"
				      data-model="settings.reportFooterId" data-change="settings.footerChanged(item, prevItem)"></span>
			</div>
		</div>

		<div class="platform-form-row">
			<label class="platform-form-label ng-binding">{{'scheduling.main.printing.pageSpanX' | translate}}</label>

			<div class="platform-form-col">
				<div data-domain-control data-domain="integer" data-model="settings.spanX"
				     data-change="settings.changeSpanX()"></div>
			</div>
		</div>

		<div class="platform-form-row">
			<label class="platform-form-label ng-binding">{{'scheduling.main.printing.reportRange' | translate}}</label>

			<div class="platform-form-col">
				<div class="flex-box">
					<div data-domain-control class="flex-element" data-domain="dateutc" data-model="settings.reportRangeStart"
					     data-change="settings.changeUseReportStart()"></div>
					<div data-domain-control class="flex-element" data-domain="dateutc" data-model="settings.reportRangeEnd"
					     data-change="settings.changeUseReportEnd()"></div>
				</div>
			</div>
		</div>

		<div class="platform-form-row">
			<label class="platform-form-label ng-binding"> </label>
			<div class="platform-form-col">
				<div class="flex-box">
					<div data-domain-control class="flex-element" data-domain="boolean" data-model="settings.useReportRange"
					     data-options="settings.useReportRangeOpt" data-change="settings.changeUseReportRange()"></div>
				</div>
			</div>
		</div>

		<div class="platform-form-row">
			<label class="platform-form-label ng-binding"> </label>
			<div class="platform-form-col">
				<div class="flex-box">
					<div data-domain-control class="flex-element" data-domain="boolean" data-model="settings.showLegend"
					     data-options="settings.showLegendOpt" data-change="settings.changeShowLegend()"></div>
				</div>
			</div>
		</div>

	</div>
</section>

<footer class="modal-footer">
	<button type="button" class="btn btn-default" data-ng-disabled="requirement" data-ng-click="modalOptions.ok()">
		{{modalOptions.actionButtonText}}
	</button>
	<button type="button" class="btn btn-default" data-ng-disabled="requirement" data-ng-click="modalOptions.cancel()">
		{{modalOptions.closeButtonText}}
	</button>
</footer>