
<div class="flex-box platform-form-group">
	<div class="flex-element">
		<div>
			<div data-domain-control data-domain="boolean" data-model="settings.showProgress"
		     data-options="settings.showProgressOpt" data-change="settings.changeShowProgress()"></div>
		</div>
		<div>
			<div data-domain-control data-domain="boolean" data-model="settings.showCritical"
			     data-options="settings.showCriticalOpt" data-change="settings.changeShowCritical()" ></div>
		</div>
		<div>
			<div data-domain-control data-domain="boolean" data-model="settings.showToday"
			     data-options="settings.showTodayOpt" data-change="settings.changeShowToday()"></div>
		</div>
		<div>
			<div data-domain-control data-domain="boolean" data-model="settings.showWeek"
			     data-options="settings.showWeekOpt" data-change="settings.changeShowWeek()"></div>
		</div>
		<div>
			<div data-domain-control data-domain="boolean" data-model="settings.showTopTimeaxis"
			     data-options="settings.showTopTimeaxisOpt" data-change="settings.changeShowTopTimeaxis()"></div>
		</div>
		<div>
			<div data-domain-control data-domain="boolean" data-model="settings.showVerticalLines"
			data-options="settings.showVerticalLinesOpt" data-change="settings.changeShowVerticalLines()"></div>
		</div>
	</div>
	<div class="flex-element">
		<div>
			<div data-domain-control data-domain="boolean" data-model="settings.showMonth"
			     data-options="settings.showMonthOpt" data-change="settings.changeShowMonth()"></div>
		</div>
		<div>
			<div data-domain-control data-domain="boolean" data-model="settings.showWeekends"
			     data-options="settings.showWeekendsOpt" data-change="settings.changeShowWeekends()"></div>
		</div>
		<div>
			<div data-domain-control data-domain="boolean" data-model="settings.showHolidays"
			     data-options="settings.showHolidaysOpt" data-change="settings.changeShowHolidays()"></div>
		</div>
		<div>
			<div data-domain-control data-domain="boolean" data-model="settings.showTimelines"
			     data-options="settings.showTimelinesOpt" data-change="settings.changeShowTimelines()"></div>
		</div>
		<div>
			<div data-domain-control data-domain="boolean" data-model="settings.showBottomTimeaxis"
			     data-options="settings.showBottomTimeaxisOpt" data-change="settings.changeShowBottomTimeaxis()"></div>
		</div>
				<div>
			<div data-domain-control data-domain="boolean" data-model="settings.showLocationConnections"
			     data-options="settings.showLocationConnectionsOpt" data-change="settings.changeShowLocationConnections()"></div>
		</div>
	</div>
</div>