<div class="flex-box">
	<div class="flex-element">
		<div>{{'scheduling.main.chart-settings.LobLevel' | translate}} 1</div>
		<div class="platform-form-group offset-1">
			<div class="platform-form-col">
				<simpleradio-control options="sortOrderOpt" ng-model="sortOrder[0]"></simpleradio-control>
			</div>
		</div>

		<div class=" margin-top-ld">{{'scheduling.main.chart-settings.LobLevel' | translate}} 2</div>
		<div class="platform-form-group offset-1">
			<div class="platform-form-col">
				<simpleradio-control options="sortOrderOpt" ng-model="sortOrder[1]"></simpleradio-control>
			</div>
		</div>
	</div>
	<div class="flex-element">
		<div>{{'scheduling.main.chart-settings.LobLevel' | translate}} 3</div>
		<div class="platform-form-group offset-1">
			<div class="platform-form-col">
				<simpleradio-control options="sortOrderOpt" ng-model="sortOrder[2]"></simpleradio-control>
			</div>
		</div>

		<div class=" margin-top-ld">{{'scheduling.main.chart-settings.LobLevel' | translate}} 4</div>
		<div class="platform-form-group offset-1">
			<div class="platform-form-col">
				<simpleradio-control options="sortOrderOpt" ng-model="sortOrder[3]"></simpleradio-control>
			</div>
		</div>
	</div>
</div>