<div>{{'scheduling.main.barInformation.activity' | translate}}</div>

<div class="flex-box">
	<div class="flex-element">
		<!--<div scheduling-main-activity-lookup-directive data-ng-model="modela" data-entity="modelb"></div>-->
		<span data-domain-control data-domain="select" data-options="activityLookupOptions"
		      data-model="entity1" data-change="entity1Changed(item, prevItem)"></span>
	</div>
	<div class="flex-element margin-left-ld">
		<span data-domain-control data-domain="select" data-options="activityLookupOptions"
		      data-ng-model="entity2" data-change="entity2Changed(item, prevItem)"></span>
	</div>
	<div class="flex-element margin-left-ld">
		<span data-domain-control data-domain="select" data-options="activityLookupOptions"
		      data-ng-model="entity3" data-change="entity3Changed(item, prevItem)"></span>
	</div>
</div>

<div class="margin-top-ld">{{'scheduling.main.barInformation.summary' | translate}}</div>

<div class="flex-box">
	<div class="flex-element">
		<!--<div scheduling-main-activity-lookup-directive data-ng-model="modela" data-entity="modelb"></div>-->
		<span data-domain-control data-domain="select" data-options="activityLookupOptions"
		      data-model="entity4" data-change="entity4Changed(item, prevItem)"></span>
	</div>
	<div class="flex-element margin-left-ld">
		<span data-domain-control data-domain="select" data-options="activityLookupOptions"
		      data-ng-model="entity5" data-change="entity5Changed(item, prevItem)"></span>
	</div>
	<div class="flex-element margin-left-ld">
		<span data-domain-control data-domain="select" data-options="activityLookupOptions"
		      data-ng-model="entity6" data-change="entity6Changed(item, prevItem)"></span>
	</div>
</div>

<div class="margin-top-ld">{{'scheduling.main.barInformation.milestone' | translate}}</div>

<div class="flex-box">
	<div class="flex-element">
		<!--<div scheduling-main-activity-lookup-directive data-ng-model="modela" data-entity="modelb"></div>-->
		<span data-domain-control data-domain="select" data-options="activityLookupOptions"
		      data-model="entity7" data-change="entity7Changed(item, prevItem)"></span>
	</div>
	<div class="flex-element margin-left-ld">
		<span data-domain-control data-domain="select" data-options="activityLookupOptions"
		      data-ng-model="entity8" data-change="entity8Changed(item, prevItem)"></span>
	</div>
	<div class="flex-element margin-left-ld">
		<span data-domain-control data-domain="select" data-options="activityLookupOptions"
		      data-ng-model="entity9" data-change="entity9Changed(item, prevItem)"></span>
	</div>
</div>

<div class="margin-top-ld">{{'scheduling.main.barInformation.hammock' | translate}}</div>

<div class="flex-box">
	<div class="flex-element">
		<!--<div scheduling-main-activity-lookup-directive data-ng-model="modela" data-entity="modelb"></div>-->
		<span data-domain-control data-domain="select" data-options="activityLookupOptions"
		      data-model="entity10" data-change="entity10Changed(item, prevItem)"></span>
	</div>
	<div class="flex-element margin-left-ld">
		<span data-domain-control data-domain="select" data-options="activityLookupOptions"
		      data-ng-model="entity11" data-change="entity11Changed(item, prevItem)"></span>
	</div>
	<div class="flex-element margin-left-ld">
		<span data-domain-control data-domain="select" data-options="activityLookupOptions"
		      data-ng-model="entity12" data-change="entity12Changed(item, prevItem)"></span>
	</div>
</div>

<div class="platform-form-group">
	<div data-domain-control data-domain="boolean" data-model="showBarInformation" data-options="barinfoOptions"
	     data-change="changeShowBarInformation()"></div>
</div>
