<div class="flex-element flex-box flex-column ganttVersion subview-container" style="height: 204px;">
	<data-platform-grid data="versionGrid"></data-platform-grid>
</div>

	<div class="clear platform-form-group flex-box margin-top-ld">
		<div class="pull-left">
			<div data-domain-control data-domain="boolean" data-model="settings.showCurrentBaseline"
			     data-options="settings.showCurrentBaselineOpt" data-change="settings.changeShowCurrentBaseline()"></div>
		</div>

		<div class="pull-left margin-left-ld">
			<div data-domain-control data-domain="boolean" data-model="settings.showPlannedBaseline"
			     data-options="settings.showPlannedBaselineOpt" data-change="settings.changeShowPlannedBaseline()"></div>
		</div>
	</div>
