<div>
	<div class="control-directive input-group form-control" style="margin-left: 12px; width:466px;">
		<input type="text" class="input-group-content" id="fileName" readonly="true"
		       data-placeholder="{{ 'basics.common.pleaseSelectImportedFile' | translate }}"/>
		<span class="input-group-btn">
                 <button class="btn btn-default input-sm" data-ng-click="chooseFile()">
                     <span class="control-icons ico-input-lookup lookup-ico-dialog">&nbsp;</span>
                 </button>
        </span>
	</div>
</div>