<header class="modal-header main-color" xmlns="http://www.w3.org/1999/html">
    <h2 class="modal-title">{{modalOptions.headerText | translate}}</h2>
    <button class="db close" data-dismiss="modal" data-ng-mousemove="modalOptions.btnMouseMoveHandler($event)"
            data-ng-click="modalOptions.cancel()">
        <svg data-cloud-desktop-svg-image data-sprite="control-wh-icons" data-image="ico-close"
             class="block-image"></svg>
    </button>
</header>
<section class="modal-body">
    <div ng-cloak data-ng-include="steps[0].url" data-ng-show="currentStep===(0+1)" class="filler"
         data-ng-if="steps[0].isInitialized"></div>
    <div ng-cloak data-ng-include="steps[1].url" data-ng-show="currentStep===(1+1)" class="filler"
         data-ng-if="steps[1].isInitialized"></div>
    <div ng-cloak data-ng-include="steps[2].url" data-ng-show="currentStep===(2+1)" class="filler"
         data-ng-if="steps[2].isInitialized"></div>
</section>
<footer class="modal-footer">
    <button type="button" class="btn btn-default" data-ng-disabled="modalOptions.isPreviousDisabled()"
            data-ng-click="modalOptions.handlePrevious()">
        {{'cloud.common.previousStep' | translate}}
    </button>
    <button type="button" class="btn btn-default" data-ng-disabled="modalOptions.isNextDisabled()"
            data-ng-click="modalOptions.handleNext()">
        {{currentStep === totalStep ? ('platform.wizard.stepFinish' | translate):('cloud.common.nextStep'|translate)}}
    </button>
    <button type="button" class="btn btn-default" data-ng-disabled="requirement" data-ng-click="$close(false)">
        {{'cloud.common.cancel' | translate}}
    </button>
</footer>