<header class="modal-header main-color" data-ng-include="'modaldialog/modaldialog-header-template.html'">
</header>
<section ng-cloak class="modal-body flex-box flex-column">
    <div style="margin-left: -10px" data-platform-form data-form-options="formOptions" data-entity="request"></div>
</section>
<footer class="modal-footer">
    <button type="button" class="btn btn-default" data-ng-disabled="isOKDisabled()" data-ng-click="handleOK()">
        {{'cloud.common.ok' | translate}}
    </button>
    <button type="button" class="btn btn-default" data-ng-disabled="requirement" data-ng-click="$close(false)">
        {{'cloud.common.cancel' | translate}}
    </button>
</footer>