<div class="modal-wrapper overflow-hidden">
    <header class="modal-header" data-ng-include="'modaldialog/modaldialog-header-template.html'"></header>
    <section class="modal-body">
        <div cloud-common-overlay data-loading="isLoading" data-info2="loadingInfo"></div>
        <div data-platform-alert data-error="noFilterDataError"></div>
        <div data-platform-form data-form-options="formOptionsReplacementSettings" entity="entity"></div>
    </section>
    <footer class="modal-footer">
        <button ng-if="modalOptions.isShown('delete')" class="btn"
                data-ng-class="(modalOptions.defaultButton === 'delete') ? 'btn-return' : 'btn-default'"
                data-ng-click="modalOptions.del('delete')"
                data-ng-disabled="modalOptions.isDisabled('delete')">
            {{modalOptions.deleteText}}
        </button>
        <button ng-if="modalOptions.isShown('save')" class="btn"
                data-ng-class="(modalOptions.defaultButton === 'save') ? 'btn-return' : 'btn-default'"
                data-ng-click="modalOptions.ok('save')"
                data-ng-disabled="modalOptions.isDisabled('save')">
            {{modalOptions.saveText}}
        </button>
        <button type="button" class="btn btn-default" data-ng-click="execute()" data-ng-disabled="!canExecute()">{{::'basics.common.button.execute' | translate}}</button>
        <button type="button" class="btn btn-default" data-ng-click="close()"> {{::'basics.common.button.cancel' | translate}}</button>
    </footer>
</div>