<style type="text/css">
   .userFormAssignParamTabBg {
      background-color: #ffffff;
   }
</style>

<div ng-controller="estimateAssembliesDetailsParamListController">
   <div class="toolbar">
      <div data-platform-menu-list data-list="tools" style="margin-left: 5px">
         <div data-ng-repeat="item in paramsTab" style="float:left; height:29px; margin-top:2px; padding:0px 10px 0px 10px; line-height:29px;"
              class="{{item.className}}"
              ng-click="tabClick(item, 'user_form_assign_parameter_frame_Pop_Assm')">
            {{item.name}}
         </div>
         <div data-ng-repeat="item in tabs" style="float:left; height:29px; margin-top:2px; padding:0px 10px 0px 10px; line-height:29px; cursor: pointer"
              class="{{item.className}}"  ng-click="tabClick(item, 'user_form_assign_parameter_frame_Pop_Assm', 3)"
              ng-mouseenter="openMethodOption(item,true)" ng-mouseleave="openMethodOption(item)">
            {{item.name}}
            <div style="position: fixed; z-index: 100; padding:0 5px 0 5px; background-color: #dcdcdc; color:#666; font-size:12px; display:{{item.display}}">
               <div style="display:block;cursor: pointer" ng-repeat="option in item.openOptions"
                    ng-click="tabClick(item, 'user_form_assign_parameter_frame_Pop_Assm', option.method); $event.stopPropagation();">
                  <button type="button" class=" tlb-icons ico-preview-data" ></button>
                  <span>{{option.name}}</span>
               </div>
            </div>
            <div style="position: fixed; z-index: 100; padding:0 5px 0 5px; background-color: #fff; color:#666; font-size:12px; display:{{item.displayNew}}">
               <div style="display:block;cursor: pointer" ng-repeat="option in item.openOptionNews"
                    ng-click="tabClick(item, 'user_form_assign_parameter_frame_Pop_Assm', option.method); $event.stopPropagation();">
                  <button type="button" class=" tlb-icons ico-preview-data"></button>
                  <span>{{option.name}}</span>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="flex-box flex-column subview-container" style="height: 100%;">
<!--      <div style="position: fixed; height:310px; width: 862px; z-index:100;background-color:#fff" data-ng-show="showParamGridCover"></div>-->
      <div data-platform-grid data="gridData" data-ng-show="showParamGrid"></div>
      <iframe credentialless id="user_form_assign_parameter_frame_Pop_Assm" name="user_form_assign_parameter_frame_Pop_Assm" style="border:none;"  data-ng-show="showIframe" src="about:blank" height="300px"></iframe>
      <div style="color: green; padding: 2px 0px 0px 7px;" data-ng-show="SaveResult">{{ 'cloud.common.doneSuccessfully' | translate }}</div>
   </div>
</div>
