<header class="modal-header main-color">
	<h2 class="modal-title">{{modalOptions.headerText}}</h2>
	<button type="button" class="close db" data-dismiss="modal" data-ng-click="modalOptions.close()"
	        aria-hidden="true">
		<svg data-cloud-desktop-svg-image data-sprite="control-wh-icons" data-image="ico-close" class="block-image"></svg>
	</button>
</header>

<!--<section class="modal-body">-->
<section class="modal-body">
    <div data-platform-form-container data-form-container-options="formContainerOptions" data-entity="currentItem"></div>
</section>
<footer class="modal-footer">
    <button type="button" class="btn btn-default" data-ng-disabled="okBtnDisabled" data-ng-click="modalOptions.ok()">
        {{modalOptions.actionButtonText}}
    </button>
    <button type="button" class="btn btn-default" data-ng-disabled="requirement" data-ng-click="modalOptions.close()">
        {{modalOptions.closeButtonText}}
    </button>
</footer>
