<div class="image-resizer inputGroup">
    <span class="image-resizer imageIconSpan"><img src="cloud.style/content/images/control-icons.svg#ico-width">
    </span>
    <div id="idWidth" data-domain-control data-domain="decimal" autocomplete="off" class="image-resizer inputField"
        data-model="imgWidth" data-change="widthChange()" data-options="options"></div>

    <span class="image-resizer imageIconSpan"><img src="cloud.style/content/images/control-icons.svg#ico-height">
    </span>
    <div id="idHeight" data-domain-control data-domain="decimal" autocomplete="off" class="image-resizer inputField" data-model="imgHeight"
        data-change="heightChange()" data-options="options"></div>
    <span class="image-resizer measurementField">{{unit}}</span>
</div>