<div class="wysiwyg-editor filler">
    <basics-common-text-area-toolbar-directive></basics-common-text-area-toolbar-directive>
    <textarea name="textModulePlainText" class="k-content-frame" data-ng-model="translation.TextClob.Content" data-ng-change="onChange()" data-ng-readonly="!textareaEditable"
              data-ng-keydown="onKeyDown($event)" data-ng-keyup="onKeyUp($event)" data-ng-mouseup="onMouseUp($event)">
    </textarea>
</div>
<div cloud-common-overlay data-loading="containerLoading" data-info="loadingInfo"></div>