<section class="modal-body">
    <h2 class="platform-form-group-header-text">{{'scheduling.main.existingCalendars' | translate}}</h2>
    <div class="flex-element" data-ng-bind-html="modalOptions.bodyText1"></div>
    <h2 class="platform-form-group-header-text">{{'scheduling.main.newCalendars' | translate}}</h2>
    <div class="flex-element" data-ng-bind-html="modalOptions.bodyText2"></div>
    <h3 class="message">{{'scheduling.main.primavera.matchingCalendarsInfo' | translate}}</h3>
</section>
