<div class="filler selection-statement">
    <div class="filler flex-box flex-column" style="position: relative;height:100%">
        <div class="platform-form-group">
            <div class="platform-form-row">
                <div class="input-group form-control">
                    <div data-dropdown-select2 style="border:none;"
                         data-model="searchOptions.selectedItemId"
                         data-info="filderdefcontrol"
                         data-change="searchOptions.selectionChanged()"
                         data-options="searchOptions.dropboxOptions"
                         data-use-deep-watch="true"
                         data-template-Result="searchOptions.dropboxOptions.templateResult"
                         data-template-Selection="searchOptions.dropboxOptions.templateResult"
                         data-matchfunction="$parent.dropDownMatcher">
                    </div>
                    <span class="input-group-btn ">
<!--                        <span class="btn btn-default">-->
                        <!--                            <input type="checkbox" class="btn btn-default" style="margin: 3px; padding: 3px; width: 20px; height: 20px;"-->
                        <!--                                   data-ng-attr-title="{{searchOptions.filterCompositeTitle}}"-->
                        <!--                                   data-ng-model="searchOptions.filterRequest.filterComposite"-->
                        <!--                                   data-ng-click="searchOptions.onSaveAsSelectionStatement()"/>-->
                        <!--                        </span>-->
                        <button type="button"
                                class="btn btn-default control-icons tlb-icons ico-object-restrictions-1"
                                data-ng-class="{'active': searchOptions.filterRequest.filterComposite}"
                                title="{{ 'model.viewer.selectionWz.treePartLeaves' | translate }}"
                                data-ng-click="searchOptions.filterRequest.filterComposite = true; searchOptions.onSaveAsSelectionStatement();"
                                data-ng-model="searchOptions.filterRequest.filterComposite">
                        </button>

                        <button type="button"
                                class="btn btn-default control-icons tlb-icons ico-object-restrictions-3"
                                data-ng-class="{'active': !searchOptions.filterRequest.filterComposite}"
                                title="{{ 'model.viewer.selectionWz.treePartMinimal' | translate }}"
                                data-ng-click="searchOptions.filterRequest.filterComposite = false; searchOptions.onSaveAsSelectionStatement();"
                                data-ng-model="searchOptions.filterRequest.filterComposite">
                        </button>
                        <button class="btn btn-default control-icons ico-refresh" type="button"
                                data-ng-attr-title="{{searchOptions.refreshBtnText}}"
                                data-ng-click="searchOptions.onRefreshFilter()">
                        </button>
                        <button class="btn btn-default control-icons ico-input-delete2" type="button"
                                data-ng-attr-title="{{searchOptions.onDeleteFilterBtnText}}"
                                data-ng-disabled="!searchOptions.canSaveOrDeleteFilter()"
                                data-ng-click="searchOptions.onDeleteFilter()">
                        </button>
                        <button class="btn btn-default tlb-icons ico-save" type="button"
                                data-ng-attr-title="{{searchOptions.onSaveFilterBtnText}}"
                                data-ng-disabled="!searchOptions.canSaveOrDeleteFilter()"
                                data-ng-click="searchOptions.onSaveFilter()">
                        </button>
                        <button class="btn btn-default tlb-icons ico-save-as" type="button"
                                data-ng-attr-title="{{searchOptions.onSaveAsFilterBtnText}}"
                                data-ng-disabled="!searchOptions.filterRequest.pattern"
                                data-ng-click="searchOptions.onSaveAsFilter()">
                        </button>
                        <button class="btn btn-default tlb-icons ico-undo" type="button"
                                data-ng-attr-title="{{searchOptions.onRevertFilterBtnText}}"
                                data-ng-disabled="!searchOptions.canRevertFilter()"
                                data-ng-click="searchOptions.onRevertFilter()">
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="flex-element relative-container">
            <div type="text" class="filler-absolute CodeMirror"
                 data-construction-system-common-filter-editor
                 data-ng-model="searchOptions.filterRequest.pattern"
                 data-readonly="!searchOptions.active"
                 data-entity="searchOptions.filterRequest.selectedItem"
                 data-on-blur="searchOptions.onSaveAsSelectionStatement()"
                 data-options="options">
            </div>
        </div>

        <div data-cos-common-disable-overlay data-show="!searchOptions.active"
             data-info="searchOptions.canNotEditMsg" data-active="searchOptions.active">
        </div>
    </div>
    <div data-cloud-common-overlay data-loading="searchOptions.filterDataLoading"></div>
</div>