<script type="text/ng-template" id="platform-filter-input-buttons-template.html"></script>
<div style="display: flex">
	<button title="Go to Previous" class="filterButton filterButtonPrev navbar-btn e2e-navbar-btn-previous ng-scope">
		<svg data-sprite="tlb-wh-icons" data-image="ico-rec-next">
			<use href="cloud.style/content/images/tlb-wh-icons.svg#ico-rec-previous"></use>
		</svg>
	</button>
	<button title="Go to Next" class="filterButton filterButtonNext navbar-btn e2e-navbar-btn-next ng-scope">
		<svg data-sprite="tlb-wh-icons" data-image="ico-rec-next">
			<use href="cloud.style/content/images/tlb-wh-icons.svg#ico-rec-next"></use>
		</svg>
	</button>
</div>
</script>