<div class="flex-element flex-box flex-align-center" data-ng-controller="basicsWorkflowLabelDialog">
	<div class="platform-form-group">
		<div class="platform-form-row">
			<div class="platform-form-label" data-domain="boolean" data-domain-control
			     data-ng-model="modalOptions.value.escapeHtml" data-options="escapeHtmlOptions">
			</div>
		</div>
		<div class="">
			<div class="">{{::'basics.workflow.modalDialogs.labelText' | translate}}</div>
			<div class="filler" data-ng-model="modalOptions.value.displayText" data-options="codeMirrorOptions"
			     data-script-editor-directive style="flex-grow: 5;"></div>
		</div>
	</div>
</div>