<div class="platform-form-group" data-ng-controller="basicsWorkflowWwwLinkDialog">
	<div class="platform-form-row">
		<div class="platform-form-label" data-translate="basics.workflow.modalDialogs.labelText"></div>
		<div class="platform-form-col">
			<div data-ng-model="modalOptions.value.displayText" data-options="input.codeMirrorOptions"
			     data-script-editor-directive>
			</div>
		</div>
	</div>
	<div class="platform-form-row">
		<div class="platform-form-label">{{'basics.workflow.modalDialogs.url' | translate}}</div>
		<div class="platform-form-col">
			<div data-ng-model="modalOptions.value.url" data-options="input.codeMirrorOptions"
			     data-script-editor-directive>
			</div>
		</div>
	</div>
</div>
