<div class="ng-scope" data-ng-controller="basicsWorkflowWorkflowLinkDialog" style="width: 100%; ">
	<div class="platform-form-group">
		<div class="platform-form-row">
			<div class="platform-form-label">{{'basics.workflow.modalDialogs.linkName' | translate}}</div>
			<div class="platform-form-col">
				<div data-ng-model="modalOptions.value.displayText" data-options="input.codeMirrorOptions"
				     data-script-editor-directive>
				</div>
			</div>
		</div>
		<div class="platform-form-row">
			<div class="platform-form-label">{{'basics.workflow.action.customEditor.startContext' | translate}}</div>
			<div class="platform-form-col">
				<div data-ng-model="modalOptions.value.startContext" data-options="input.codeMirrorOptions"
				     data-script-editor-directive>
				</div>
			</div>
		</div>
	</div>

	<div class="platform-form-group">
		<div class="platform-form-row">
			<div class="radiolist-container" data-ng-model="input.editorMode" data-on-selection-changed="onRadioGroupOptChanged(value)"
			     data-options="input.radioGroupOpt" data-radiolistctrl>
			</div>
		</div>
	</div>

	<div class="platform-form-group">
		<div class="platform-form-row">
			<div class="platform-form-label">{{'basics.workflow.action.customEditor.workflow' | translate}}</div>
			<div class="platform-form-col">
				<div data-ng-show="input.editorMode === 1">
					<div data-domain="select" data-domain-control
					     data-model="input.workflowValue" data-options="selectOptions"></div>
				</div>
				<div data-ng-model="input.workflowScriptValue" data-ng-show="input.editorMode === 2"
				     data-options="input.codeMirrorOptions" data-script-editor-directive></div>
			</div>
		</div>
	</div>
</div>
