<div class="platform-form-group">
	<div class="platform-form-row">
		<div class="platform-form-label">{{'basics.workflow.modalDialogs.module' | translate}}</div>
		<div class="platform-form-col">
			<div data-domain="select" data-domain-control data-model="wizardLinkItems.selected"
			     data-options="wizardLinkItems"></div>
		</div>
	</div>
	<div class="platform-form-row">
		<div class="platform-form-label">{{'basics.workflow.modalDialogs.wizard' | translate}}</div>
		<div class="platform-form-col">
			<div data-domain="select" data-domain-control data-model="wizardLinkItems.selected"
			     data-options="wizardLinkItems"></div>
		</div>
	</div>
	<div class="platform-form-row">
		<div class="platform-form-label">{{'basics.workflow.modalDialogs.linkName' | translate}}</div>
		<div class="platform-form-col">
			<div data-domain="description" data-domain-control data-model="linkname"></div>
		</div>
	</div>
</div>
