<section class="modal-body" data-ng-controller="basicsWorkflowStartDebugWorkflowController">
	<div class="platform-form-group">
		<div class="platform-form-row">
			<label class="platform-form-label">{{'basics.workflow.pinned' | translate }} {{entityInfo.entityName}}
				{{'basics.workflow.entityIdList' | translate }}</label>
			<div class="platform-form-col">
                <span data-domain="select" data-domain-control
                      data-model="entityId" data-options="entityOptions"
                      readonly="{{!entityOptions.items || entityOptions.items.length === 0}}"></span>
			</div>
		</div>
		<div ng-repeat="name in entityInfo.IdPropertyNames" class="platform-form-row">
			<label class="platform-form-label">{{entityInfo.entityName}} {{name}}</label>
			<div class="platform-form-col">
				<span data-domain="integer" data-domain-control data-model="identification[name]"
				      suppress-debounce="true"></span>
			</div>
		</div>
	</div>
</section>
