<div class="platform-form-group">
	<div class="platform-form-row">
		<div class="platform-form-label">{{'basics.workflow.modalDialogs.defaulttext' | translate}}</div>
		<div class="platform-form-col">
			<div data-domain="description" data-domain-control></div>
		</div>
	</div>
	<div class="platform-form-row">
		<div class="platform-form-label">{{'basics.workflow.modalDialogs.type' | translate}}</div>
		<div class="platform-form-col">
			<div data-domain="select" data-domain-control data-options=""></div>
		</div>
	</div>
</div>
