<div data-ng-controller="businessPartnerAssignmentActivationListController" class="modal-wrapper">
    <header class="modal-header main-color">
        <h2 class="modal-title">{{modalTitle | translate }} </h2>
    </header>
    <section class="modal-body">
        <div class="modal-wrapper subview-container grid-wrapper">
            <div data-platform-grid data="gridData"></div>
        </div>
    </section>
    <footer class="modal-footer">
        <button type="button" class="btn btn-default" data-ng-click="onOK()" data-ng-bind="'basics.common.button.ok' | translate"></button>
        <button type="button" class="btn btn-default" data-ng-click="onCancel()" data-ng-bind="'basics.common.button.cancel' | translate"> </button>
    </footer>
</div>
