<script type="text/ng-template" id="projectcontrols/dashboar-structure.html">
<div class="generic-struct fullheight">
	<div class="group-items slick-groupby">
		<div class="group-placeholder"></div>
		<!--<platform-popup-button options="$ctrl.grpColumns" on-action="$ctrl.onAction(idx)"></platform-popup-button>-->
		<popup-button options="$ctrl.grpColumns" on-action="$ctrl.onAction(result)">></popup-button>
	</div>
	<platform-Grid data="$ctrl.gridData"></platform-Grid>
	<div class="info-panel" data-ng-show="$ctrl.context" data-ng-class="{ 'info-panel-color': $ctrl.context }">
		<div style="height: 25px; width: 25px" title="{{$ctrl.context}}" data-ng-class="{ 'control-icons ico-pin3': $ctrl.context }"></div>
	</div>
</div>
</script>