<projectcontrols-dashboard-structure
	class="fullheight"
	data-options="options"
	data-grid-data="gridData"
	data-grouping-columns="groupingColumns"
	data-items="containerItems"
	data-context="pinningContext"
	data-versions="historyVersions"
	on-grouping-change="onGroupingChanged(cid,type)"
	on-groupState-change="onGroupStateChanged(cid,state)"
	on-selection-changed="onSelectionChanged(evt,args)"
	on-filter-changed="onFilterChanged(filterItems)"
	on-items-processed="onItemsProcessed(data)"
>
</projectcontrols-dashboard-structure>