<!--suppress HtmlUnknownAttribute -->
<script type="text/ng-template" id="controlling-projectcontrols-formula-value-cell.html">
	<div class="input-group">
		<input type="text" data-ng-keydown="onKeyDown($event, @@buttonClickParams@@)" class="@@cssclass@@" data-platform-translation-converter @@attributes@@/>
		<span class="input-group-btn">
            <button type="button" class="btn btn-default control-icons ico-translation" style="width: 23px;"
                    ng-click="open($event, @@buttonClickParams@@)" @@buttonAttributes@@></button>
    	</span>
	</div>
</script>

