<div class="flex-box flex-column flex-element filler">
	<div data-platform-kendo-splitter-adjust id="splitter123" class="split-container flex-element flex-box flex-column" style="flex-direction:row;" option="{panes:[{collapsible:true,collapsed:true,size:'50%'},{collapsible:false,size:'50%'}],orientation:'vertical'}">
		<div class="flex-element flex-box flex-column" style="overflow:auto">
			<platform-Grid data="gridData"></platform-Grid>
		</div>
		<div class="flex-element flex-box flex-column" style="overflow:auto">
			<div ng-bind-html="preview"font-family:monospace"></div>
		</div>
	</div>
</div>
<div data-basics-common-white-board data-show="showInfoOverlay" data-info="overlayInfo"></div>
<div cloud-common-overlay data-loading="isLoading"></div>
