<div class="flex-box flex-column flex-element filler">
	<div data-platform-kendo-splitter-adjust class="flex-element filler" style="flex-direction:row;" option="{panes: [ { size: '70%' },{ size: '30%' }],orientation:'vertical'}">
		<div class="flex-element flex-box flex-column">
			<platform-Grid data="gridData"></platform-Grid>
		</div>
		<div class="flex-element flex-box flex-column" data-ng-controller="boqMainCrbPriceconditionScopeController">
			<h2 class="title fix" style="margin:5px">{{'boq.main.crbPriceconditionScope' | translate}}</h2>
			<platform-Grid data="gridData"></platform-Grid>
		</div>
	</div>
</div>
