<div data-ng-controller="renumberFreeBoqWizardController">
    <header class="modal-header main-color" data-ng-include="'modaldialog/modaldialog-header-template.html'"></header>
    <section class="modal-body">
        <h3>{{modalOptions.bodyText}}</h3>
        <div class="platform-form-group">
            <div class="radio spaceToUp">
                <label>
                    <input type="radio" name="supplierSelect" value="selectedBoQ"
                           data-ng-model="options.body.radioSelect"/>{{options.body.selectedBoQ}}
                </label>
            </div>
            <div class="radio spaceToUp">
                <label>
                    <input type="radio" name="supplierSelect" value="allBoQs"
                           data-ng-model="options.body.radioSelect"/>{{options.body.allBoQs}}
                </label>
            </div>
        </div>
        <br/>
        <h3>{{modalOptions.renumberDependance}}</h3>
        <div class="platform-form-group">
            <div class="radio spaceToUp">
                <label>
                    <input type="radio" name="withinSelect" value="eachBoQ"
                           data-ng-model="options.body.withinSelect"/>{{options.body.eachBoQ}}
                </label>
            </div>
            <div class="radio spaceToUp">
                <label>
                    <input type="radio" name="withinSelect" value="currentPrj"
                           data-ng-model="options.body.withinSelect"/>{{options.body.currentPrj}}
                </label>
            </div>
        </div>
    </section>
    <footer class="modal-footer">
        <button type="button" class="btn btn-default" data-ng-click="options.onOK()" data-ng-bind="options.okBtnText">
        </button>
        <button type="button" class="btn btn-default" data-ng-click="modalOptions.cancel()" data-ng-bind="modalOptions.cancelBtnText"></button>
    </footer>
</div>