<div data-platform-alert data-error='error'></div>
	<!--<wysiwyg textarea-id="htmlEditor" textarea-class=""-->
            <!--textarea-name="textareaQuestion"-->
            <!--textarea-height="100%"-->
            <!--action="onBlur()"-->
            <!--textarea-required data-ng-model="specification.Content"-->
            <!--enable-bootstrap-title="true">-->
	<!--</wysiwyg>-->
<div data-boq-main-specification-html-editor id="boqMainSpecificationController" data-entity="specification" data-ng-model="specification.Content" data-add-text-complement="addTextComplement" data-select-text-complement="selectTextComplement" data-ng-change="onTextChanged()" data-options="editorOptions" data-editable="editable" class="flex-element flex-box flex-column"></div>



