<script type="text/ng-template" id="characteristic-control-domain.html">
    <div data-domain-control class="form-control"
         data-domain="$$domain$$"
         data-readonly="config.rt$readonly()"
         data-model="entity.compareValue"
         data-change="config.rt$change()"></div>
</script>

<script type="text/ng-template" id="characteristic-control-lookup.html">
    <div data-basics-characteristic-data-discrete-value-combobox class="control-directive"
         data-ng-model="entity.compareValue"
         data-entity="entity"
         data-options="options"
         data-config="config"></div>
</script>

<script type="text/ng-template" id="characteristic-control-boolean.html">
    <div class="radio spaceToUp lg-3 md-3">
        <label>
            <input type="radio" name="charRadio" value=true
                   data-ng-model="entity.compareValue"
                   data-ng-disabled="config.rt$readonly()"/>
            {{::'procurement.common.findBidder.withCharacteristic.compareValue.boolTrue' | translate}}
        </label>
    </div>
    <div class="radio spaceToUp">
        <label>
            <input type="radio" name="charRadio" value=false
                   data-ng-model="entity.compareValue"
                   data-ng-disabled="config.rt$readonly()"/>
            {{::'procurement.common.findBidder.withCharacteristic.compareValue.boolFalse' | translate}}
        </label>
    </div>
</script>