<div class="platform-form-group">
<div class="platform-form-row">
	<label class="col-sm-3" style="padding:5px 0px 0px;">{{modalOptions.isHighlightTitle}}</label>
	<div class="col-sm-9">
    <div class="radio spaceToUp">
        <label class="ng-binding">
            <input type="radio" name="supplierSelect"
                   data-ng-value="modalOptions.allItemsVal"
                   data-ng-model="modalOptions.radioSelect"/>
            {{modalOptions.allItems}}
        </label>
    </div>
    <div class="radio spaceToUp">
        <label class="ng-binding">
            <input type="radio" name="supplierSelect"
                   data-ng-value="modalOptions.highlightItemsVal"
                   data-ng-model="modalOptions.radioSelect"/>
            {{modalOptions.highlight}}
        </label>
    </div>
</div>
</div>
</div>