$ms-sv-search-ctrl-height: 30px;

.ms-sv-search-view {
  overflow-y: auto;
  overflow-x: hidden;
  a {
    text-decoration: none;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.ms-sv-container-title {
  border-bottom: 1px solid $ms-background-color;
  //	margin-right: 15px;
  padding: 10px 0 10px 0;
  > span {
    //    font-size: $ms-font-size-16;
    //    color: $ms-color-010377;
    @include ms-font-setting($ms-font-size-16, $ms-title-color, normal);
  }
}

//  *-------------------------------------------------------------------------------
//	 search view - search button
//  -------------------------------------------------------------------------------*/
.ms-sv-search-div {
  min-height: 20px;
  > div {
    padding-left: 0;
    padding-right: 0;
  }
}

.ms-sv-preview {
  position: relative;
}

.ms-sv-search-input {
  height: 30px;
  display: flex;
}

.ms-sv-search-button-text {
  border: 1px solid $ms-background-color;
  border-radius: $ms-border-radius;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 100%;
  height: 30px;
  padding: 0 0 0 8px;
  @include ms-font-setting($ms-font-size-16, $ms-label-color, normal);
}

.ms-sv-revert-button {
	min-width: $ms-sv-search-ctrl-height;
	width: $ms-sv-search-ctrl-height;
	height: $ms-sv-search-ctrl-height;
	background-color: $ms-background-color;
	display: flex;
	border-radius: $ms-border-radius;
   margin-right:5px;
	.ms-sv-revert-button-img {
		margin: 4px 0 0 8px;
		width: 16px;
		height: 16px;
	}
}
.ms-sv-search-button {
  min-width: $ms-sv-search-ctrl-height;
  width: $ms-sv-search-ctrl-height;
  height: $ms-sv-search-ctrl-height;
  background-color: $ms-background-color;
  display: flex;
  border-radius: 0 $ms-border-radius $ms-border-radius 0;

  .ms-sv-search-button-img {
    margin: 8px 0 0 8px;
    width: 16px;
    height: 16px;
  }
}

.ms-sv-select-option {
  width: 200px;
  height: $ms-sv-search-ctrl-height;
  display: flex;
  background-color: $ms-background-color;
  border: none;
  border-radius: $ms-border-radius;
  font-size: $ms-font-size-13;
  padding: 0 0 0 5px;
  margin: 0 5px;
}

.ms-sv-cart-item-count {
  width: 70px;
  background-color: $ms-background-color;
  border-radius: $ms-border-radius;
  height: $ms-sv-search-ctrl-height;
  text-align: center;
  display: block;
  padding-top: 4px;
  margin-left: 3px;
  > span {
    @include ms-font-setting($ms-font-size-16, $ms-title-color, $ms-font-weight);
  }
}

//  *-------------------------------------------------------------------------------
//	 search view - navigate-map
//  -------------------------------------------------------------------------------*/
.ms-sv-category-navigate {
  margin: 5px 0px 20px 0px;
}

.ms-sv-category-navigate-row {
  height: auto;
  margin: 20px 0 10px 0;
}

@media(max-width: 400px) {
  .ms-sv-category-navigate-row {
    display: none !important;
  }
}

.ms-sv-category-navigate-block {
  width: auto;
  height: 35px;
  display: inline-block;
  margin-bottom: 2px;
}

.ms-sv-category-navigate-map {
  margin: 0 5px 0 0;
  height: $ms-sv-search-ctrl-height;
  background-color: $ms-background-color;
  border-radius: $ms-border-radius $ms-border-radius;
  float: left;
  padding: 5px 10px;
  > img,svg {
    margin: -5px 6px 0 0;
    width: 16px;
    height: 16px;
  }

  > a {
    font-size: $ms-font-size-16;
  }
}

.ms-sv-category-navigate-map-point {
  border: 8px solid $ms-background-color;
  height: 0;
  width: 0;
  margin: 7px 0 0 0;
  border-color: transparent $ms-background-color transparent transparent;
  float: left;
}

.ms-sv-category-navigate-map-isLast {
  background-color: $ms-background-color-174195212;
}

.ms-sv-category-navigate-map-isLast-point {
  border-color: transparent $ms-background-color-174195212 transparent transparent;
}

.material-lookup-modal-body {
  .subview-content {
    padding: 4px;
  }
}
.modal-dialog section.material-lookup-modal-body {
  position: inherit;
}

//  *-------------------------------------------------------------------------------
//	 search view - search result
//  -------------------------------------------------------------------------------*/
.ms-sv-result-panel {
  > div {
    padding-right: 0;
    padding-left: 0;
  }
}

.ms-sv-result-panel-left {
  padding-right: 15px !important;
  > div {
    margin-bottom: 20px;
  }
}

.ms-sv-result-panel-right {
  border-left: 1px solid $ms-background-color;
  padding: 0 10px 0 15px !important;
}

.ms-sv-commodity-pagination {
  float: right;
  text-align: right;
}

.ms-sv-loading {
  margin: auto;
}

.ms-sv-commodity-result-pane {
  width: 100%;
  height: auto;
  overflow: hidden;
  overflow-y: hidden;
  margin: 0 auto;
  padding-bottom: 100px;
  -webkit-transform: translate3d(0px, -8px, 0px) scale(1);
  transform-origin: left top;
  margin-top: 8px;
}

//  *-------------------------------------------------------------------------------
//	 search view - commodity preview
//  -------------------------------------------------------------------------------*/
.ms-sv-commodity-preview-panel {
  height: auto;
  top: 0;
  width: 100%;
  .ms-commodity-row-description-specification {
    height: auto !important;
  }
  .ms-sv-commodity-preview-navbar{

  }
}


.ms-sv-commodity-preview-back {
  background-color: $ms-background-color !important;
  border-radius: $ms-border-radius !important;
  color: $ms-label-color;
  font-size: 16px;
  padding: 0px 10px 0px 0px;
  height: 30px;
  width: auto;
  span {
    margin: 0px 10px 0px 10px;
  }
}

.ms-sv-commodity-preview-attribute-box {
  line-height: 25px;
  overflow: hidden;
  margin-top: 5px;
}

.ms-sv-commodity-preview-attribute-property {
  font-weight: 700;
}

.ms-sv-commodity-preview-attribute-value {
}

.ms-sv-commodity-preview-attribute-box{
  min-height: 25px;
  overflow: hidden;
  margin-top: 5px;
}


.ms-sv-commodity-preview-document-box{
  overflow: hidden;
  margin-top: 5px;
  padding-left:5px;
  .ms-sv-commodity-preview-document-title{
    cursor: pointer;
    line-height: 25px;
    font-size: 13px;
    color: #0067b1;
    text-decoration: underline;
  }
  .ms-sv-commodity-preview-document-content{
    max-height:500px;
    display: none;
    margin-right:10px;
    overflow:auto;
  }
}

.ms-sv-commodity-preview-attribute-property {
  font-weight: 700;
  float: left;
}

.ms-sv-commodity-preview-attribute-value {
  float: left;
}

//  *-------------------------------------------------------------------------------
//	 result view - refresher
//  -------------------------------------------------------------------------------*/
.ms-sv-refresher {
  margin: auto;
  height: 60px;
  line-height: 60px;
  text-align: center;
  display: none;
}

.ms-sv-refresher-box {
  height: 20px;
}

.ms-sv-container-3d {
  position: relative;
}

.ms-sv-container-3d .toolbar{
  position: absolute;
  right: 10px;
  top: 5px;
  background-color: initial;
  border: initial;
}

.ms-sv-container-hoops {
  height: 400px;
}

.ms-sv-border-bottom {
  border-bottom: 1px solid #e6e6e6;
}

.ms-sv-commodity-group-title{
  color: white;
  background-color: #4b89dc;
  padding: 4px 8px;
  font-weight: bold;
  font-size: 12px;
}

.ms-checkbox-multi-select {
  float: left;

  input[type=checkbox] {
    vertical-align: middle;
    margin-bottom: 7px;
  }
}