<div class="flex-element flex-box flex-column">
    <div data-scheduling-location-wizard-dialog-toolbar data-uuid="d78468e7f36747cab1aed3eb8a172dc0"></div>
    <div class="modal-footer" style="height: inherit; min-height: inherit;">
        <button type="button" class="btn btn-default" ng-if="customBtn1" data-ng-click="customBtn1.action()">
            {{customBtn1.label}}
        </button>
        <button type="button" class="btn btn-default" ng-if="customBtn2" data-ng-click="customBtn2.action()">
            {{customBtn2.label}}
        </button>
    </div>
</div>

