<div class="platform-form-group ">
<div class="estimate-material-scope platform-form-row">
<label class="platform-form-label">{{'scheduling.main.selectedActivity' | translate}}</label>
 <div class="platform-form-col">
        <ul>
            <li><input type="radio" name="selectRequisitionScope" id="activityResultSet_1"  value="1" data-ng-checked="entireScheduleValue==1" data-ng-click="onResult(1)"> <label for="activityResultSet_1">{{'scheduling.main.currentResultSet' | translate}}</label> </li>
            <li><input type="radio" name="selectRequisitionScope" id="selectedActivity_2"  value="0"  data-ng-checked="entireScheduleValue==0" data-ng-click="onResult(0)"> <label for="selectedActivity_2">{{'scheduling.main.selectedActivity' | translate}}</label> </li>
        </ul>
 </div>
</div>
<br/>
</div>