<div data-platform-alert data-error="error"></div>
<div class="flex-box flex-column flex-element filler">
    <div data-platform-kendo-splitter-adjust class="flex-element"
         option="{panes: [{ collapsible: true, size: '100%' }],orientation:'horizontal'}">
        <div id="ui-layout-east">
            <textarea class="k-content-frame" data-ng-model="termsAndConditions"
                      data-ng-change="onTextChanged()"
                      data-ng-readonly="textareaEditable">
            </textarea>
        </div>
    </div>
</div>