<div data-platform-alert data-error="error"></div>
<div class="flex-box flex-column flex-element filler">
    <div data-platform-kendo-splitter-adjust class="flex-element"
         option="{panes: [ { collapsible: true, size: '20%' },{ collapsible: true, size: '80%' }],orientation:'horizontal'}">

        <div id="ui-layout-east">
            <platform-Editor textarea-id="itemTextHtmlEditor" textarea-class=""
                             textarea-editable="textareaEditable"
                             textarea-name="textareaQuestion"
                             textarea-height="100%"
                             textarea-required
                             data-ng-model="ContentString"
                             enable-bootstrap-title="true"/>
        </div>
    </div>
</div>