<div data-platform-alert data-error="error"></div>
<div style="display:flex;flex-direction:row;height:100%">
    <div data-basics-common-single-image-viewer class="image-viewer"
         data-img-options="imageOptions"
         data-img-current="blob" data-ng-hide="!blob"
         style="margin-right:0;display:flex;justify-content:center;align-items: center;"
    >
    </div>
    <div class="flex-element" data-ng-bind-html="modalOptions.bodyText" style="display:flex;justify-content:center;flex-direction: column;"></div>
</div>


