<div data-split-container class="border-none" data-option='{"orientation": "vertical"}'>
	<div data-split-container-view data-option='{ "collapsible": true, "size": "30%" }' id="3f5d192d2d9745b0802f872c87cd8fb8" class="flex-element relative-container" >
			<div class="filler-absolute" data-ng-controller="estimateMainCopySourceAssembliesLookupController">
				<platform-Grid class="border-all" data="gridData" data-platform-dragdrop-component="ddTarget"></platform-Grid>
			</div>
	</div>
	<div data-split-container-view data-option='{ "collapsible": true, "size": "30%" }' id="297fd860e1284f1d9c52705cf705e842" class="flex-element relative-container" >
			<div class="filler-absolute" data-ng-controller="estimateMainCopySourceAssembliesResourceLookupController">
				<platform-Grid class="border-all" data="gridData" data-platform-dragdrop-component="ddTarget"></platform-Grid>
			</div>
	</div>
</div>