<div data-split-container class="border-none" data-option='{"orientation": "vertical"}'>
	<div data-split-container-view data-option='{ "collapsible": true, "size": "30%" }' id="db68a68223d443f2a54ae3b5c872c5c4" class="flex-element relative-container">
		<div class="fullheight" data-ng-controller="estimateMainCopySourceLineItemLookupController" data-platform-context-menu data-context-items="tools">
			<platform-Grid class="border-all" data="gridData" data-platform-dragdrop-component="ddTarget"></platform-Grid>
		</div>
	</div>

	<div data-split-container-view data-option='{ "collapsible": true, "size": "30%" }' id="19a8eaa2ca2b4bb9906ae39c0521c24f" class="flex-element relative-container">
		<div class="fullheight" data-ng-controller="estimateMainCopySourceLineItemResourceLookupController" data-platform-context-menu data-context-items="tools">
			<platform-Grid class="border-all" data="gridData" data-platform-dragdrop-component="ddTarget"></platform-Grid>
		</div>
	</div>
</div>