<header class="modal-header main-color" data-ng-include="options.headerTemplateUrl"></header>
<section class="modal-body">
	<div class="icon-message ng-scope">
		<div class="icon tlb-icons ico-info"></div>
		<div class="message ng-binding" data-ng-bind-html="trustAsHtml(modalOptions.bodyText)">
		</div>
	</div>
</section>
<footer class="modal-footer">
	<button class="btn btn-default" data-ng-click="modalOptions.saveToOriginal()" style="width: 180px;">
		{{modalOptions.saveToOriginalText}}
	</button>
	<button class="btn btn-default" data-ng-click="modalOptions.saveToNew()" style="width: 180px;">
		{{modalOptions.saveToNewVersionText}}
	</button>
	<button class="btn btn-default" data-ng-click="modalOptions.ignore()" style="width: 180px;">
		{{modalOptions.ignoreSaveText}}
	</button>
</footer>
<div cloud-common-overlay data-loading="isLoading"></div>
