<div class="platform-form-group">
    <div class="platform-form-group">
        <div class="platform-form-row form-group">
            <div style="width: 350px;display:inline-block">
                <label class="platform-form-label">
                    <input type="checkbox"
                           data-ng-checked="viewOptions.isOutStanding"
                           data-ng-model="viewOptions.isOutStanding"/>
                    {{viewOptions.outStandingText}}
                </label>
            </div>
            <div style="width:300px;display:inline-block;">
                <label class="platform-form-label" style="width: 70px;text-align: right">{{'cloud.desktop.botChat.from' | translate}} : </label>
                <div class="platform-form-col" style="width: 300px">
                <div data-domain-control data-domain="dateutc"
                     placeholder="{{'cloud.desktop.botChat.from' | translate}}"
                     data-ng-model="viewOptions.startDate" class="flex-element" class="margin-left-md" data-entity="viewOptions.startDate" data-enterstop="true" data-tabstop="true"></div>
                </div>
                </div>
            </div>
        </div>
        <div class="platform-form-row form-group">
            <div style="width: 350px;display:inline-block">
                <label class="platform-form-label">
                    <input type="checkbox"
                           data-ng-checked="viewOptions.isDelivered"
                           data-ng-model="viewOptions.isDelivered"/>
                    {{viewOptions.deliveredText}}
                </label>
            </div>
            <div style="width:300px;display:inline-block;">
                <label class="platform-form-label" style="width: 88px;text-align: right">{{'cloud.desktop.botChat.to' | translate}} : </label>
                <div class="platform-form-col" style="width: 300px">
                <div data-domain-control data-domain="dateutc"
						     placeholder="{{'cloud.desktop.botChat.to' | translate}}"
						     data-ng-model="viewOptions.endDate" class="flex-element" class="margin-left-md" data-entity="viewOptions.endDate" data-enterstop="true" data-tabstop="true"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="flex-element flex-box flex-column fullheight" style="overflow: hidden;outline: 0px;position: relative;">
    <platform-grid data="gridData"></platform-grid>
</div>