<div>
	<div class="control-directive input-group form-control">
		<input type="text" class="input-group-content" id="fileName" readonly="true" placeholder="Please Select Imported File"/>
		<span class="input-group-btn">
                 <button class="btn btn-default input-sm" data-ng-click="chooseFile()" >
                     <span class="control-icons ico-input-lookup lookup-ico-dialog">&nbsp;</span>
					 <!--      <img data-ng-src="cloud.style/content/images/tlb-icons.svg#ico-upload"
								src="cloud.style/content/images/tlb-icons.svg#ico-upload">-->
                 </button>
        </span>
	</div>
</div>