    <div data-platform-alert data-error="error"></div>
    <div class="flex-box flex-column flex-element filler">
        <div data-platform-kendo-splitter-adjust class="flex-element filler" option="{panes: [ { collapsible: true, size: '20%' },{ collapsible: true, size: '80%' }],orientation:'horizontal'}">
            <div id="ui-layout-west" class="flex-box flex-column">
                <platform-Grid data="gridData"></platform-Grid>
            </div>
            <div id="ui-layout-east">
                <div class="wysiwyg-editor filler ng-isolate-scope ng-valid" title="textView"
                        data-ng-bind-html="trustAsHtml(currentItem.ContentString)">
                </div>
            </div>
        </div>
    </div>