<div data-ng-controller="documentsImportFileListController">
    <header class="modal-header" data-ng-include="'modaldialog/modaldialog-header-template.html'"></header>
    <section class="modal-body">
        <div data-platform-alert data-error="error"></div>
        <div class="modal-body flex-box">
            <div class="icon-message">
                <div class="icon tlb-icons {{ modalOptions.iconClass }}"></div>
                <div class="message flex-element" data-ng-bind-html="modalOptions.bodyText"></div>
            </div>
        </div>
        <div>
            <div>
                <div data-platform-grid style="border: 1px solid #ABABAB; min-height: 300px; " data="gridData"></div>
            </div>
        </div>
    </section>
    <footer class="modal-footer">
            <button data-ng-disabled="modalOptions.OKBtnRequirement" type="button" class="btn btn-default" data-ng-click="onOK()"> {{modalOptions.OKBtnText | translate}}</button>
            <button type="button" class="btn btn-default" data-ng-click="onCancel()"> {{modalOptions.cancelBtnText | translate}}</button>
    </footer>
    <div cloud-common-overlay data-loading="modalOptions.dialogLoading"
         data-info2="modalOptions.loadingInfo"></div>
</div>
