<div data-ng-click="handleClick($event)" class="emotionWrapper">
	<button class="btn emotion">
		<i class="block-image control-icons ico-emo-01" contenteditable="false"></i>
	</button>
	<button class="btn emotion">
		<i class="block-image control-icons ico-emo-02" contenteditable="false"></i>
	</button>
	<button class="btn emotion">
		<i class="block-image control-icons ico-emo-03" contenteditable="false"></i>
	</button>
	<button class="btn emotion">
		<i class="block-image control-icons ico-emo-04" contenteditable="false"></i>
	</button>
	<button class="btn emotion">
		<i class="block-image control-icons ico-emo-05" contenteditable="false"></i>
	</button>
	<button class="btn emotion">
		<i class="block-image control-icons ico-emo-06" contenteditable="false"></i>
	</button>
	<button class="btn emotion">
		<i class="block-image control-icons ico-emo-07" contenteditable="false"></i>
	</button>
	<button class="btn emotion">
		<i class="block-image control-icons ico-emo-08" contenteditable="false"></i>
	</button>
	<button class="btn emotion">
		<i class="block-image control-icons ico-emo-09" contenteditable="false"></i>
	</button>
	<button class="btn emotion">
		<i class="block-image control-icons ico-emo-10" contenteditable="false"></i>
	</button>
	<button class="btn emotion">
		<i class="block-image control-icons ico-emo-11" contenteditable="false"></i>
	</button>
	<button class="btn emotion">
		<i class="block-image control-icons ico-emo-12" contenteditable="false"></i>
	</button>
	<button class="btn emotion">
		<i class="block-image control-icons ico-emo-13" contenteditable="false"></i>
	</button>
	<button class="btn emotion">
		<i class="block-image control-icons ico-emo-14" contenteditable="false"></i>
	</button>
</div>
