<div id="address.template">
	<div class="address-body flex-box" style="position: relative;">
		<div class="fullheight address-input flex-element">
			<div data-platform-form data-form-options="formOptions" data-entity="currentItem"></div>
		</div>
		<div class="address-map flex-element flex-box flex-column" data-ng-class="(!showMap ? 'hide-map-div' : '')">
			<div class="flex-element flex-box flex-column" style="height: 100%" data-basics-common-map data-entity="currentItem" data-basics-common-map-editable-handler></div>
		</div>
	</div>
	<style type="text/css">
		div.hide-map-div {
			display: block;
			position: absolute;
			left: 1000%;
			width: 50%;
			height: 100%;
		}
	</style>
</div>


<div id="locationSearch.template">
	<div class="address-body flex-box" style="position: relative;">
		<div class="fullheight address-input flex-element">
			<div data-platform-form data-form-options="formOptions" data-entity="currentItem"></div>
		</div>

	</div>
	<div class="address-map flex-element flex-box flex-column" data-ng-class="(!showMap ? 'hide-map-div' : '')">
			<div class="flex-element flex-box flex-column" style="height: 100%" data-basics-common-map data-entity="currentItem" data-basics-common-map-editable-handler></div>
		</div>
	<style type="text/css">
		div.hide-map-div {
			display: none;
		}
	</style>
</div>