$ms-background-color: rgb(230, 230, 230);
$ms-background-color-174195212: rgb(174, 195, 212);

$ms-border-radius: 5px;
$ms-border-color: #DCDCDC;
$ms-title-background-color: rgb(240, 240, 240);
$ms-btn-background-color: rgb(75, 137, 220);
$ms-title-color: rgb(0, 103, 177);
$ms-label-color: rgb(51, 51, 51);
$ms-background-color-selected: #AEC3D4;

$ms-font-size-16: 16px;
$ms-font-size-13: 13px;
$ms-font-weight: bold;

.ms-icon-img, .ms-bnt-img {
  height: 16px;
  width: 16px;
}

@mixin ms-font-setting($fontSize: $ms-font-size-13, $color: $ms-label-color, $bold: normal) {
  font-size: $fontSize;
  color: $color;
  font-weight: $bold;
}

@mixin ms-font-13-basic {
  @include ms-font-setting;
}

@mixin ms-font-13-bold {
  @include ms-font-setting($bold: bold);
}

@import "control/ms-search-view";
@import "control/ms-commodity-row";
@import "control/ms-commodity-category";
@import "control/ms-commodity-attributes";