// -------------------------------------------------------------------------------
//	Platform Variables
//  -------------------------------------------------------------------------------*/
//  This scss file must be imported into any other scss file with "@import [path]/_variables-new.scss"

// Es darf nicht alles ins Root rein, da der Browser das bei jedem Element anzeigt. Hier sollten nur die absolut allgemeine Dinge rein
// z.B. solle die Loading Colors in einen Selector "versteckt" werden.

:root {
	// text
	--text-color-light: white;
	--text-color-light-bold: white;
	--text-color-dark: #333;
	--text-color-dark-bold: #626262;

	// company
	--company-color: hsl(205, 100%, 35%);
	--company-font-color: var(--text-color-light);
	--company-component-hover: #2e82be;
	--company-component-selected: #338dce;
	--company-icon-color: #fff;
	--company-rib-color: #0067b1;

	// mainheader
	--mainheader-bg-color: #fff;
	--mainheader-font-color: #99999a;

	// tooltip
	--tooltip-bg-color: #fff;
	--tooltip-font-color: var(--text-color-dark);

	//Loading Bar
	--loading-color-odd: rgb(51, 170, 255);
	--loading-color-eve: rgb(153,213, 255);

	// content
	--bg-color-content: #fff;
	--font-color-content: var(--text-color-dark);
	--component-hover: hsl(206, 31%, 80%);

	// domain controls
	--input-border-color: #ccc;
	--input-bg-color: #fff;
	--input-border-radius: 0;

	// borders
	--border-width-default: 1px;
	--border-width-large: 4px;
	--border-color-light: white;
	--border-color-medium: #dcdcdc;
	--border-color-dark: #ababab;


	// svg icons base colors
	--icon-color-1: #616161;
	--icon-color-2: #935baf;
	--icon-color-3: #cc4c33;
	--icon-color-4: #eab766;
	--icon-color-5: #51b38a;
	--icon-color-6: #3f7ab7;
	--icon-color-7: #ffffff;
	--icon-hover-color: #0068B3;
	--icon-main-color: #ffffff;
}



// Common
//------------------------------------------------------------------------------------------

// The lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
// Used for the color-contrast function
$color-contrasted-threshold: 150;

// The height for toolbars in our application
$toolbar-height: 30px;
