<div class="panel-group">
    <div data-find-bidder-with-prcstructure data-prcstructure="findBidderSetting.prcstructure"></div>
    <div data-find-bidder-with-location data-location="findBidderSetting.location"
         data-is-loading="loading.isLoading"></div>
    <div data-find-bidder-with-name data-bidder="findBidderSetting.bidder"></div>
    <div data-find-bidder-with-evaluation data-evaluation="findBidderSetting.evaluation"></div>
    <div data-find-bidder-with-characteristic
         data-with-characteristic="findBidderSetting.withCharacteristic" data-is-loading="loading.isLoading"></div>
	<div data-find-bidder-with-contract-grand-total data-contract-grand-total="findBidderSetting.contractGrandTotal"></div>
	<div data-find-bidder-with-contracted-date-ordered data-contracted-date-ordered="findBidderSetting.contractedDateOrdered"></div>
    <div data-find-bidder-with-nation-wide data-nation-wide="findBidderSetting.nationWide"></div>
    <div data-find-bidder-with-businesspartner-status
         data-businesspartnerstatus="findBidderSetting.businesspartnerstatus"
         data-businesspartnerstatus2="findBidderSetting.businesspartnerstatus2"></div>
    <div cloud-common-overlay data-loading="loading.isLoading"
         data-info="loading.loadingInfo"></div>

</div>
