<div data-ng-controller="paymentScheduleVersionWizardController" class="modal-wrapper">
	<header class="modal-header main-color" data-ng-include="'modaldialog/modaldialog-header-template.html'"></header>
	<section class="modal-body">
		<div class="platform-form-group">
			<div class="platform-form-row form-group">
				<label class="platform-form-label" style="padding-left:0">{{::modalOptions.createVersion}}:</label>
				<div class="platform-form-col">
					<div class="input-group">
						<input type="text" style="width:100%;margin-right:10px;text-indent:6px;" placeholder="{{::modalOptions.fillInVersionText}}" data-ng-pattern-restrict="^[\s\S]{0,16}$" data-ng-change="modalOptions.inputVersionText()" data-ng-model="modalOptions.newVersionText">
						<button type="button" class="btn btn-default" data-ng-click="modalOptions.create()" data-ng-disabled="modalOptions.disableCreate">
							{{::modalOptions.createButtonText}}
						</button>
					</div>
					<div style="position:absolute;height:20px;" class="invalid-cell invalid-form" data-ng-if="modalOptions.showUniqueVersionMessage">{{::modalOptions.uniqueVersionMessage}}</div>
				</div>
			</div>
		</div>
		<div style="height: 100%;border: 1px solid #ccc;margin-top:20px;">
			<platform-Grid data="gridData" style="height: 200px;"></platform-Grid>
		</div>
	</section>

	<footer class="modal-footer">
		<button type="button" class="btn btn-default" data-ng-click="modalOptions.delete()" data-ng-disabled="!modalOptions.selected" style="margin: 0 auto 0 0;width: 180px;">
			{{::modalOptions.deleteHighlightedVersion}}
		</button>
		<button type="button" class="btn btn-default" data-ng-click="modalOptions.restore()" data-ng-disabled="!modalOptions.selected">
			{{::modalOptions.restoreFromVersion}}
		</button>
		<button type="button" class="btn btn-default" data-ng-click="modalOptions.ok()">
			{{::modalOptions.okButtonText}}
		</button>
		<button type="button" class="btn btn-default" data-ng-click="modalOptions.cancel()">
			{{::modalOptions.cancelButtonText}}
		</button>
	</footer>
</div>