<section class="filler flex-box flex-column">
    <div class="platform-lg platform-form-group" style="margin: 5px 10px 15px 10px;">
        <div class="platform-form-row" ng-show="isFromPriceCom">
            <div style="margin-bottom: 25px;">
                <div style="width: 31%; float: left;">
                    <label>
                        {{'basics.common.historicalPrice.itemLabel' | translate}} : {{ getMaterialCodeDesc() }}
                    </label>
                </div>
                <div class="lg-5">
                    <label>
                        {{'basics.common.historicalPrice.priceRange' | translate}} : {{ currentItem.priceRange }}
                    </label>
                </div>
            </div>
        </div>
        <div class="platform-form-row">
            <div style="width: 6%; float: left;">
                <div class="platform-form-label">
                    {{'procurement.common.wizard.updateItemPrice.from' | translate}}
                </div>
            </div>
            <div class="lg-3">
                <div class="checkbox spaceToUp">
                    <label>
                        <input type="checkbox"
                               name="materialCatalog"
                               data-ng-disabled="formDisabled"
                               data-ng-model="currentItem.queryFromMaterialCatalog" data-ng-click="materialCatalogChange()">
                        {{'procurement.common.wizard.updateItemPrice.catalogPriceVersion' | translate}}
                    </label>
                </div>
            </div>
            <div class="lg-6">
                <div class="lg-6" style="padding-left: 8.33333%; padding-right: 0;" price-condition-lookup
                     data-readonly="!$parent.currentItem.queryFromMaterialCatalog || $parent.formDisabled" data-config="true"
                     ng-model="currentItem.pricecondition">
                </div>
                <div class="lg-6" style="padding-left: 8.33333%; padding-right: 0;">
                    <div class="checkbox spaceToUp">
                        <label>
                            <input type="checkbox"
                                   data-ng-disabled="formDisabled"
                                   name="neutralMaterial" data-ng-disabled="!currentItem.queryFromMaterialCatalog"
                                   data-ng-model="currentItem.queryNeutralMaterial" data-ng-click="neutralMatChange()">
                            {{'procurement.common.wizard.updateItemPrice.neutralMaterial' | translate}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="platform-form-row">
            <div class="lg-3" style="margin-left: 6%;">

                <div class="lg-6">
                    <div class="checkbox spaceToUp">
                        <label>
                            <input type="checkbox"
                                   name="quotation"
                                   data-ng-disabled="formDisabled"
                                   data-ng-model="currentItem.queryFromQuotation">
                            {{'procurement.common.wizard.updateItemPrice.quotation' | translate}}
                        </label>
                    </div>
                </div>

                <div class="lg-6">
                    <div class="checkbox spaceToUp">
                        <label>
                            <input type="checkbox"
                                   name="contract"
                                   data-ng-disabled="formDisabled"
                                   data-ng-model="currentItem.queryFromContract">
                            {{'procurement.common.wizard.updateItemPrice.contract' | translate}}
                        </label>
                    </div>
                </div>

            </div>

            <div class="lg-6">
                <div class="lg-6" style="padding-right: 0;">
                    <div class="lg-2" style="padding-right: 0;">
                        <div class="platform-form-label">
                            {{'basics.common.changeStatus.from' | translate}}
                        </div>
                    </div>
                    <div class="lg-10" style="padding-right: 0;">
                        <div data-domain-control class="form-control"
                             data-domain="dateutc"
                             data-readonly="formDisabled"
                             data-entity="currentItem"
                             data-model="currentItem.startDate"
                             data-config="entityConfigs.startConfig"
                             data-dirty="true">
                        </div>
                    </div>
                </div>

                <div class="lg-6" style="padding-right: 0;">
                    <div class="lg-1 col-lg-offset-1">
                        <div class="platform-form-label">
                            {{'basics.common.changeStatus.to' | translate}}
                        </div>
                    </div>
                    <div class="lg-10" style="float: right; padding-right: 0;">
                        <div data-domain-control class="form-control"
                             data-domain="dateutc"
                             data-readonly="formDisabled"
                             data-entity="currentItem"
                             data-model="currentItem.endDate"
                             data-config="entityConfigs.endConfig"
                             data-dirty="true">
                        </div>
                    </div>
                </div>

                <div class="col-lg-offset-1" ng-class="currentItem.rt$hasError() ? 'invalid-cell invalid-form' : ''"
                     data-ng-bind="currentItem.rt$errorText()" style="padding-top: 5px;"></div>
            </div>

            <div class="lg-2 form-group platform-form-row composite-last-item">
                <div class="lg-9 text-right form-group platform-form-row composite-last-item" style="float: right;">
                    <button data-ng-disabled="(!currentItem.queryFromMaterialCatalog && !currentItem.queryFromQuotation && !currentItem.queryFromContract) || currentItem.rt$hasError() || formDisabled"
                            data-ng-click="search()" type="button" style="width:100%;"
                            class="btn btn-default">{{'cloud.common.searchButton' | translate}}
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div class="flex-box flex-column flex-element">
        <platform-grid data="gridData"></platform-grid>
    </div>
    <div cloud-common-overlay data-loading="isLoading"></div>
</section>