<div data-split-container class="border-none" data-option='{"orientation": "horizontal"}'>
	<div data-split-container-view data-option='{ "collapsible": true, "size": "30%" }' id="051e986eb1c34784a13c38d549f57a1b">
		<div class="fullheight" data-ng-controller="basicsCompanyNumberController" data-context-items="tools">
			<platform-Grid class="border-all" data="gridData" data-platform-dragdrop-component="ddTarget"></platform-Grid>
		</div>
	</div>
	<div data-split-container-view data-option='{ "collapsible": true, "size": "30%" }' id="96a56c8c643e4acd910777043b76fe4d">
		<div class="fullheight" data-ng-controller="basicsCompanyNumberDetailController" data-platform-context-menu data-context-items="tools">
			<div data-platform-form-container data-form-container-options="formContainerOptions"
			     data-entity="currentItem" class="flex-element">
			</div>
		</div>
	</div>
</div>
