<style>
	.material-filter-search-pagination .statusbar {
		height: 28px;
		box-sizing: border-box;
		font-size: 13px;
	}

	.material-filter-search-pagination .left-side button.per-page-number {
		width: 48px;
		background-position: 30px;
		padding: 0;
		margin: 0 10px;
		box-sizing: content-box;
		height: 20px;
		line-height: 18px;
	}

	.material-filter-search-pagination .left-side button.per-page-number > span {
		position: relative;
		left: -10px;
	}

	.material-filter-search-pagination .statusbar .left-side > div,
	.material-filter-search-pagination .statusbar .last > div {
		display: flex;
		align-items: center;
	}

	.material-filter-search-pagination .statusbar .last > div > .item {
		margin: 0;
	}
</style>

<div class="material-filter-search-pagination statusbar-wrapper" data-platform-status-bar data-set-link="getStatusBarObject(link)"></div>