<style>
	.material-filter-selection-list {
		height: calc(100% - 28px);
		overflow-y: scroll;
	}
</style>
<div class="generic-popup">
	<div class="input-group form-control">
		<input type="text" class="input-group-content" placeholder="{{ 'basics.material.lookup.search' | translate }}" data-ng-model="userInput" data-ng-change="search()">
		<span class="input-group-btn">
			<button class="btn btn-default tlb-icons ico-search" data-ng-click="search()"></button>
		</span>
	</div>

	<div class="material-filter-selection-list">
		<ul class="popup-list" style="border-bottom: solid 1px #dcdcdc">
			<li data-ng-repeat="pinnedItem in pinnedItems" data-ng-bind="pinnedItem | materialFilterItemTranslate" data-ng-click="select(pinnedItem)"></li>
		</ul>

		<ul class="popup-list">
			<li data-ng-repeat="item in items" data-ng-bind="item | materialFilterItemTranslate" data-ng-click="select(item)"></li>
		</ul>
	</div>
</div>