<style>
	.material-filter-item-document .ms-sv-commodity-preview-document-content {
		display: block !important;
		height: 100%;
		max-height: unset;
		width: 100%;
	}
</style>
<div class="material-filter-item-document fullheight fullwidth" data-ng-controller="basicsMaterialFilterItemDocumentPreviewController">
	<div class="ms-sv-commodity-preview-document-box fullheight fullwidth">
		<div class="ms-sv-commodity-preview-document-content ms-sv-commodity-preview-document-content_0"></div>
	</div>
</div>