<div data-platform-alert data-error="error"></div>
<div class="flex-box flex-column flex-element filler">
    <div data-platform-kendo-splitter-adjust class="flex-box flex-column flex-element"
         option="{panes: [ { collapsible: true, size: '20%' },{ collapsible: true, size: '80%' }],orientation:'horizontal'}">

        <div id="ui-layout-west" class="flex-box flex-column">
            <platform-Grid data="gridData" style="height: 300px;"></platform-Grid>
        </div>
        <div id="ui-layout-east">
            <platform-Editor textarea-id="htmlEditor" textarea-class=""
                     textarea-name="textareaQuestion"
                     textarea-height="100%"
                     textarea-editable="textareaEditable"
                     data-ng-change="onChange()"
                     textarea-required
                     data-ng-model="currentItem.ContentString"
                     enable-bootstrap-title="true">
            </platform-Editor>
        </div>
    </div>
</div>