<div class="flex-element" data-ng-if="searchOptions.searchType==='simple'" data-ng-include="searchOptions.simpleFilterUrl"></div>
<div class="flex-element" data-ng-if="searchOptions.searchType==='property'" data-ng-include="searchOptions.propertyFilterUrl"></div>
<div class="flex-element" data-ng-if="searchOptions.searchType==='expert'" data-ng-include="searchOptions.expertFilterUrl"></div>
<div class="flex-element" data-ng-if="searchOptions.searchType==='enhanced'" data-ng-include="searchOptions.enhancedFilterUrl"></div>