<div data-ng-controller="multiEntityFormController">
	<header class="modal-header" data-ng-include="'dialog/modaldialog-header-template.html'"></header>
	<section class="modal-body">
		<div class="alert alert-warning">
			<button type="button" class="close sm plain" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">x</span>
			</button>
			{{ info.message }}
		</div>
		<div class="fullheight">
			<div class="fullheight" style="overflow-y: auto">
				<div dir-paginate="currentItem in items | itemsPerPage: 1">
					<div data-platform-form-container
					     data-form-container-options="currentItem.errLayout.formContainerOptions"
					     entity="currentItem.errLayout.dataItem"
					     class="fullheight"></div>
				</div>
			</div>
		</div>

		<div class="text-center">
			<dir-pagination-controls auto-hide="false" boundary-links="true" template-url="app/components/pagination/dirPagination-rib-custom.tpl.html"></dir-pagination-controls>
		</div>
	</section>

	<footer class="modal-footer">
		<section class="custom-btn-group" data-ng-hide="!dialog.customButtons.length">
			<button type="button" class="btn btn-default" ng-if="customBtn1" data-ng-click="onCustomBtn()">
				{{customBtn1.caption}}
			</button>
			<button type="button" class="btn btn-default" ng-if="customBtn2" data-ng-click="onCustom2Btn">
				{{customBtn2.caption}}
			</button>
		</section>
		<button type="button" class="btn btn-default" ng-if="showOkButton" data-ng-disabled="hasErrors()" data-ng-click="onOK()"> {{'cloud.common.ok' | translate}}</button>
		<button type="button" class="btn btn-default" ng-if="showCancelButton" data-ng-click="onCancel()"> {{'cloud.common.cancel' | translate}}</button>
	</footer>
</div>
