<div class="maintenance-message">
	<div class="maintenance-background flex-box">
		<div class="message-background-left-side"></div>

		<div class="message-background-middle-side js-main-content">

			<div class="log-off">
				LogOff in {{minutes}} Minutes
			</div>

			<div class="ticker-wrapper">
				<div class="ticker">
					<div class="ticker-item" data-ng-bind-html="applicationAlert.message"></div>
					<!--<div class="ticker-item" data-ng-bind-html="applicationAlert.LogoffMessage"></div>-->
				</div>
			</div>
		</div>

		<div class="message-background-right-side"></div>
	</div>
</div>

<!--<div data-ng-if="applicationAlert.display" style="position: absolute;top: 7px;left: 179px;background-color: lavender;color: crimson;" data-ng-bind-html="applicationAlert.message"></div>-->
<!--<div data-ng-if="applicationAlert.display" style="position: absolute;top: 27px;left: 179px;background-color: lavender;color: crimson;" data-ng-bind-html="applicationAlert.LogoffMessage"></div>-->
