<div data-ng-controller="cloudDesktopPinningDocumentsController" class="margin-full-md flex-element">
	<div class="flex-box flex-align-center">
		<div class="flex-inline-box margin-right-ld">{{::'cloud.desktop.pinningDesktopDialogSelectionPage' | translate }}</div>
		<div class="flex-element">
			<div data-domain-control data-domain="select"
			     data-options="selectInformation"
			     data-model="dialog.modalOptions.value.entityInfos.userPage" data-change="processSelectedItem()"></div>
		</div>
	</div>
</div>