<div data-ng-show="isShown" data-qto-formula-script-editor data-ng-model="currentItem.CalculationFormula"
     style=" width: 100%; height:100%"
     class="flex-box flex-column flex-element"
     data-options="options">
</div>
<div data-ng-show="isShown">
    <div data-platform-alert data-error="error"></div>
</div>


<div id="ui-layout-center" data-ng-show="isShown2" style="width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;">
    <div id="pane-c" class="flex-element centerPane">
        <div data-basics-common-white-board data-show="overlayInfo" data-info="overlayInfo"></div>
    </div>
</div>

