<div class="chart lob">
	<h1></h1 style="visibility:collapse">
	<div class="topaxis">
		<svg class="topaxis axis layer"></svg>
	</div>
	<div class="viewport1">
		<svg class="frame1 chart" width="1500" height="2000">
			<g class="maincontent layer">
				<svg class="maincontent layer" width="500">
					<g class="weekend layer"></g>
					<g class="holiday layer"></g>
					<g class="calendarline layer"></g>
					<g class="timeline layer"></g>
					<g class="locationline layer"></g>
					<g class="activityarrows layer"></g>
					<g class="activitylabels layer"></g>
					<g class="selection layer"></g>
				</svg>
			</g>
			<g class="locationbar layer"></g>
			<!-- <rect class="maincontent" style="stroke-width: 1px; stroke:lightgray;fill:none;shape-rendering: crispEdges" x="0" y="0"></rect> -->
			<!-- <rect class="topaxis" style="stroke-width: 1px; stroke:lightgray;fill:none;shape-rendering: crispEdges" height="60"></rect> -->
			<!-- <rect class="axis" style="stroke-width: 1px; stroke:lightgray;fill:none;shape-rendering: crispEdges" height="60"></rect> -->
			<!-- <rect class="hidetickstop" style="stroke-width: 1px; fill:white" width="0" height="62"></rect> -->
			<!-- <rect class="hideticksbottom" style="stroke-width: 1px; fill:white" width="0" height="62" y="0"></rect> -->
		</svg>
	</div>
	<div class="bottomaxis">
		<svg class="bottomaxis layer"></svg>
	</div>
</div>
