<header class="modal-header main-color" data-ng-include="'modaldialog/modaldialog-header-template.html'"></header>
<section class="modal-body">
    <div data-platform-form data-form-options="formOptions" data-entity="entity"></div>
    <div class="input-group form-control">
        <input type="text" data-ng-model="searchValue" class="form-control"
               data-ng-keydown="onSearchInputKeydown($event, searchValue)"/>
		<span class="input-group-btn">
			<button class="btn btn-default input-sm btn-search tlb-icons ico-search" data-ng-click="search(searchValue)"></button>
		</span>
    </div>
	<div class="lookup-grid-container flex-element flex-box flex-column overflow-hidden">
		<div class="subview-header toolbar" data-platform-collapsable-list data-ng-model="tools">
			<h2 class="title fix" title="{{'cloud.common.searchResults' | translate}}">{{'cloud.common.searchResults' | translate}}</h2>
			<div data-platform-menu-list data-list="tools" data-platform-refresh-on="[tools.version, tools.refreshVersion]"></div>
		</div>
		<div class="flex-box flex-column flex-element subview-content relative-container overflow-hidden">
			<div class="lookup-grid flex-basis-auto" data-platform-grid data="gridData"></div>
		</div>
		<div data-cloud-common-overlay data-loading="isLoading"></div>
	</div>
</section>

<footer class="modal-footer">
    <button type="button" class="btn btn-default" data-ng-click="modalOptions.refresh()">
        {{modalOptions.refreshButtonText}}
    </button>
    <button type="button" class="btn btn-default" data-ng-disabled="modalOptions.disableOkButton()"
            data-ng-click="modalOptions.ok()">
        {{modalOptions.actionButtonText}}
    </button>
    <button type="button" class="btn btn-default" data-ng-click="modalOptions.close()">
        {{modalOptions.closeButtonText}}
    </button>
</footer>