<div class="flex-box platform-form-group">
	<div class="flex-element">

		<!--File Name-->
		<div class="flex-box flex-align-center" style="margin-bottom: 20px;">
			<div>{{'basics.workflow.exportZipWizard.templateExportOptionsTab.zipFileName' | translate}}:</div>
			<div class="margin-left-ld flex-element">
                <span class="form-control" data-domain="description" data-domain-control
                      data-model="exportOptions.fileName"></span>
			</div>
		</div>
		<!--Status Matrix-->
		<div>
			<div class="margin-top-ld" data-domain="boolean" data-domain-control data-model="exportOptions.statusMatrix"
			     data-options="statusMatrixOpt"></div>
		</div>

		<!--subscribed Events-->
		<div>
			<div class="margin-top-ld" data-domain="boolean" data-domain-control
			     data-model="exportOptions.subscribedEvents"
			     data-options="subscribedEventsOpt"></div>
		</div>

		<!--version Context-->
		<div>
			<div class="margin-top-ld" data-domain="boolean" data-domain-control
			     data-model="exportOptions.versionContext"
			     data-options="versionContextOpt"></div>
		</div>

		<!--&lt;!&ndash;wizardDefinition&ndash;&gt;-->
		<!--<div>-->
		<!--<div data-domain-control data-domain="boolean" data-model="exportOptions.wizardDefinition"-->
		<!--class="margin-top-ld"-->
		<!--data-options="wizardDefinitionOpt"></div>-->
		<!--</div>-->

		<!--&lt;!&ndash;scheduler Definition&ndash;&gt;-->
		<!--<div>-->
		<!--<div data-domain-control data-domain="boolean" data-model="exportOptions.schedulerDefinition"-->
		<!--class="margin-top-ld"-->
		<!--data-options="schedulerDefinitionOpt"></div>-->
		<!--</div>-->

		<!--&lt;!&ndash;all Template Versions&ndash;&gt;-->
		<!--<div>-->
		<!--<div data-domain-control data-domain="boolean" data-model="exportOptions.allVersions" class="margin-top-ld"-->
		<!--data-options="allVersionsOpt"></div>-->
		<!--</div>-->
	</div>
</div>
