<div>
    <div class="control-directive input-group form-control">
        <input type="text" class="input-group-content" ng- id="fileName" readonly="readonly"/>
        <span class="input-group-btn">
                <button class="btn btn-default input-sm" data-ng-click="clearFile()"
                        data-ng-disabled="disabledClearFile()">
                     <img class="block-image control-icons ico-input-delete">
                 </button>
                 <button class="btn btn-default input-sm" data-ng-click="chooseFile()">
                     <img class="block-image tlb-icons ico-upload">
                 </button>
        </span>
    </div>
</div>