<div ng-controller="projectMainCalendarWorkdayListController" data-ng-show="workDay" class="flex-box flex-column subview-container flex-element">
    <platform-Grid data="gridData"></platform-Grid>
</div>
<div ng-controller="projectMainCalendarWorkhourListController" data-ng-show="workHour" class="flex-box flex-column subview-container flex-element" >
    <platform-Grid data="gridData"></platform-Grid>
</div>
<!--
<div ng-controller="subcontroller"  class="flex-box flex-column subview-container flex-element">
    <platform-Grid data="gridData"></platform-Grid>
</div>
-->
