<div class="platform-form-group">
    <div class="platform-form-row">
        <label class="platform-form-label">{{'usermanagement.right.roleName' | translate}}</label>
        <div class="platform-form-col">
            <div data-domain-control data-domain="description" data-max-length = "64" data-model="userInput.Name"
                 data-placeholder={{usermanagement.right.placeholderRoleName}}></div>
        </div>
    </div>
    <div class="platform-form-row">
        <label class="platform-form-label">{{'usermanagement.right.roleDescription' | translate}}</label>
        <div class="platform-form-col">
            <div data-domain-control data-domain="description" data-max-length = "64" data-model="userInput.Description"
                 data-placeholder={{usermanagement.right.placeholderRoleDescription}}></div>
        </div>
    </div>
</div>