<div class="platform-form-group ">
	<div class="platform-form-row">
		<label class="col-sm-12" style="padding:5px 0px 0px;">{{'procurement.contract.wizard.createConOptionTitle'| translate}}:</label>
	</div>
	<div class="platform-form-row">
		<div class="col-sm-10">
			<div class="radio spaceToUp">
				<label class="ng-binding">
					<input type="radio" name="scopeName" value="1" data-ng-checked="selectedOption==1" data-ng-click="onResult(1)">
					{{'procurement.contract.wizard.createContractOpt'| translate}}
				</label>
			</div>
			<div class="radio spaceToUp">
				<label class="ng-binding">
					<input type="radio" name="scopeName" value="2" data-ng-checked="selectedOption==2" data-ng-click="onResult(2)">
					{{'procurement.contract.wizard.createCallOfContractOpt'| translate}}
				</label>
			</div>
			<div class="radio spaceToUp">
				<label class="ng-binding">
					<input type="radio" name="scopeName" value="3" data-ng-checked="selectedOption==3"  data-ng-click="onResult(3)">
					{{'procurement.contract.wizard.createChangeOrderContractOpt'| translate}}
				</label>
			</div>
			<div class="radio spaceToUp">
				<label class="ng-binding">
					<input type="radio" name="scopeName" value="5" data-ng-checked="selectedOption==5"  data-ng-click="onResult(5)">
					{{'procurement.contract.wizard.createCallOfFrameworkContractOpt'| translate}}
				</label>
			</div>
		</div>
	</div>
</div>