<div data-platform-alert data-error="error"></div>
<div data-split-container class="border-none" data-option='{"orientation": "horizontal"}'>
    <div data-split-container-view data-option='{ "collapsible": true, "size": "20%" }'
         id="5892c18c27be45e4af290e4ca36de0dd" class="flex-element relative-container">
        <div class="fullheight" data-ng-controller="procurementCommonSplitTextPanelController">
            <platform-Grid class="border-all flex-box flex-column" data="gridData"/>
        </div>
    </div>
    <div data-split-container-view data-option='{ "collapsible": true, "size": "80%" }'
         id="9af8405a353c473c946bf7a364253e9f" class="flex-element relative-container">
        <div class="fullheight" data-ng-controller="procurementCommonSplitTextPanelController">
            <div class="wysiwyg-editor filler">
                <basics-common-text-area-toolbar-directive></basics-common-text-area-toolbar-directive>
                <textarea id="headerTextArea" name="headerTextArea" class="k-content-frame" data-ng-model="currentItem.PlainText"
                          data-ng-change="onChange()"
                          data-ng-click="commitEdit()"
                          data-ng-readonly="rt$readonly"
                          data-ng-keydown="onKeyDown($event)" data-ng-keyup="onKeyUp($event)" data-ng-mouseup="onMouseUp($event)" style="padding-left:2px;">
             </textarea>
            </div>
        </div>
    </div>
</div>
<div cloud-common-overlay data-loading="containerLoading" data-info="loadingInfo"></div>