<div class="input-group lookup-container">
	<input type="text" class="form-control" readonly="readonly" value="{{WarningMessage}}">
	<span class="input-group-btn">
		<button btn-clear="" class="btn btn-default control-icons ico-input-delete input-sm" data-lookup-show="settings.showClearButton" data-ng-disabled="settings.disabled || settings.disableButton" data-ng-click="clearValue($event)">
            </button>
		<button btn-edit="" class="btn btn-default input-sm" data-lookup-show="settings.showEditButton" data-ng-disabled="settings.disabled || settings.disableButton" data-ng-click="editValue($event)">
                <div class="control-icons ico-input-lookup lookup-ico-dialog">&nbsp;</div>
            </button>
    </span>
	<input class="form-control lg-8 md-8 ng-pristine ng-valid ng-scope ng-empty ng-touched" data-ng-model="description" readonly />
</div>