<div data-ng-controller="prcCommonShowContractViewController" class="modal-wrapper">
    <header class="modal-header main-color"
            data-ng-include="'modaldialog/modaldialog-header-template.html'" >
    </header>
    <section class="modal-body">
        <div class="platform-form-row">
            <div class="modal-body flex-box">
                <div class="icon-message">
                    <div class="icon tlb-icons ico-info"></div>
                    <div class="message">{{modalOptions.bodyText}}</div>
                </div>
            </div>
        </div>
        <div class="flex-box flex-column fullheight" style="margin-top: 10px;">
            <div data-platform-grid class="subview-container" data="contractGrid"></div>
        </div>
	    <div style="margin-top: 10px;" ng-if="isFilterEvaluated">
		    <label style="margin-left: 10px;"><input data-ng-model="isFilterEvaluated" style="vertical-align: bottom;margin-right: 5px;" name="priceVadio" data-ng-change="priceRadioChg(1)" ng-value="1" type="radio"/>{{'procurement.common.wizard.IsFilterEvaluated' | translate}}</label>
		    <label style="margin-left: 10px;"><input data-ng-model="isFilterEvaluated" name="priceVadio" data-ng-change="priceRadioChg(2)" ng-value="2" style="vertical-align: bottom;margin-right: 5px;" type="radio"/>{{'procurement.common.wizard.isEvaluatedItems' | translate}}</label>
		    <label style="margin-left: 10px;"><input data-ng-model="isFilterEvaluated" name="priceVadio" data-ng-change="priceRadioChg(3)" ng-value="3" style="vertical-align: bottom;margin-right: 5px;" type="radio"/>{{'procurement.common.wizard.isEvaluatedItemsPrice' | translate}}</label>
	    </div>
	    <div style="margin-top: 10px;" ng-if="hasContractItem">{{'procurement.common.wizard.IsContractNote' | translate}}</div>
    </section>

    <footer class="modal-footer">
        <button type="button" class="btn btn-default" data-ng-click="ok()">
            {{modalOptions.OKButtonText}}
        </button>
        <button type="button" class="btn btn-default" data-ng-click="$close()">
            {{'basics.common.button.cancel' | translate}}
        </button>
    </footer>
    <!--<div cloud-common-overlay data-loading="modalOptions.dialogLoading" data-info="modalOptions.loadingInfo"></div>-->
</div>