<div data-ng-controller="constructionSystemInstanceInfoController" class="platform-form-group">

    <div class="platform-form-row">
        <div class="platform-form-col" style="font-weight: bold;">
            <h3>{{modalOptions.message}}</h3>
        </div>
    </div>
    <div class="platform-form-row" style = "margin-top: 5px;">
        <div class="panel-group">
            <div class="panel panel-default ">
                <div class="subview-container">
                    <platform-Grid data="getInstanceInfo"></platform-Grid>
                </div>
            </div>
        </div>
    </div>
</div>