<div class="modal-wrapper master-detail-dialog" data-ng-controller="basicsCustomizeEmailSettingsListController">
    <div data-platform-kendo-splitter-adjust class="modal-wrapper border-none"
         option="{panes: [ { collapsible: true, min: '25%' },{ collapsible: true, size: '75%' }],orientation:'horizontal'}">

        <div class="modal-wrapper">
            <div class="pane-l master-list flex-box flex-column flex-element overflow-hidden">
                <div class="toolbar">
                    <h3 class="title font-bold">{{'basics.customize.emailServer.viewHeader.emailServer' | translate}}</h3>
                    <div data-platform-menu-list data-list="tools"></div>
                </div>

                <div class="flex-element flex-box flex-column overflow-hidden">
                    <ul class="master-list-contents flex-element overflow">
                        <li data-ng-repeat="item in displayedItems">
                            <button class="master-item" data-ng-disabled="isDisabled(item)" data-ng-click="selectItem(item)" data-ng-class="[{selected: item === selectedItem}, item.cssClass]"><span data-ng-bind="item[nameProperty] + ((item.IsDefault)? ' (*)' : '')"></span></button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-wrapper">
            <div class="modal-wrapper pane-r overflow">
                <div data-cloud-common-overlay data-loading="isLoading" data-info2="loadingMessage"></div>
                <div data-platform-form data-form-options="formOptions"  data-entity="selectedItem"></div>
            </div>
        </div>
    </div>
</div>