<div class="platform-form-group">
    <div class="platform-form-row form-group">
        <label class="platform-form-label" style="min-width: 120px; max-width: 150px;">
            {{body.updatePriceOptionLabel}}
        </label>
        <div class="platform-form-col form-group">
            <div class="radio spaceToUp">
                <label>
                    <input type="radio" name="sourceSelect" data-desc="fromBase" value="1"
                        data-ng-model="radio.Select" />
                    {{body.fromBaseLabel}}
                </label>
            </div>
            <div class="radio spaceToUp">
                <label>
                    <input type="radio" name="sourceSelect" data-desc="fromPriceList" value="2"
                        data-ng-model="radio.Select" />
                    {{body.fromPriceListLabel}}
                </label>
            </div>
        </div>
    </div>
</div>