<div data-ng-controller="procurementContractChangeReportingDateDialogController">
	<header class="modal-header main-color" data-ng-include="'modaldialog/modaldialog-header-template.html'"></header>
	<div>
		<section class="modal-body">
			<div style="height: 100%;width:100%">
				<div data-platform-form-container data-form-container-options="formContainerOptions"
					 entity="currentItem" class="fullheight"></div>
			</div>
		</section>
	</div>
	<footer class="modal-footer">
		<button type="button" data-ng-disabled="modalOptions.OKBtnRequirement" class="btn btn-default" data-ng-click="modalOptions.ok()">
			{{modalOptions.actionButtonText}}
		</button>
		<button type="button" class="btn btn-default" data-ng-click="modalOptions.close()">
			{{modalOptions.closeButtonText}}
		</button>
	</footer>
</div>