<div data-ng-controller="basicsCompanyImportContentSelectionController">
    <div>
        <div data-platform-form-container data-form-container-options="formContainerOptions" data-entity="importItems" class="fullheight"></div>
    </div>

<!--     <div class="subview-container">-->
<!--        <data-platform-grid data="gridSelectionData"></data-platform-grid>-->
<!--     </div>-->

<div style="height: 300px; min-height: 300px;" basics-company-import-content-selection-grid-directive></div>
</div>