<div class="platform-form-group platform-lg" data-ng-controller="procurementRfqEmailSenderController">
	<div class="platform-form-row">
		<label class="platform-form-label">{{'procurement.rfq.rfqBidderWizard.senderAccount' | translate}}</label>
		<div class="platform-form-col">
			<span class="form-control"
			      data-domain-control
			      data-domain="select"
			      data-options="selectOptions"
			      data-model="entity"
			      data-change="onSelectedChanged()"
			></span>
		</div>
	</div>
</div>