<div class="platform-form-container">
    <div class="platform-form-group" style="padding-right: 50px;">
        <div class="platform-form-row form-group">
            <label class="platform-form-label">{{'procurement.rfq.wizard.billingSchemaLabel' | translate}}</label>
            <div class="platform-form-col">
                <div class="control-directive" procurement-configuration-billing-schema-combobox
                     data-entity="modalOptions.currentItem" data-options="modalOptions.lookupOptions" data-ng-model="modalOptions.currentItem.BillingSchemaFk"></div>
            </div>
        </div>

    </div>

    <div class="form-group" style="padding-top: 20px">
        <label>
            {{'procurement.rfq.wizard.billingSchemaNote' | translate}}
        </label>
    </div>
</div>

