<div class="flex-box flex-column flex-element relative-container">
	<div data-platform-alert data-error="error"></div>
	<h2 class="margin-bottom-ld" ng-bind="containerHeaderInfo.subTitlePrefix+': '+containerHeaderInfo.subTitle"></h2>
	<div data-basics-common-white-board data-show="containerHeaderInfo.loading" data-info="::'cloud.common.languageSelectionHint' | translate"></div>
	<div class="flex-element flex-box flex-column fullheight">
		<platform-grid data="gridData"></platform-grid>
	</div>
</div>
