<div class="input-group form-control">
	<div domain-control data-domain="description" class="form-control" data-model="entity.wizardData.listModel.__filterText"
	     data-placeholder="{{ 'platform.wizard.listFilter' | translate }}"></div>
	<span class="input-group-btn" style="margin-left: -1px;">
	    <button class="btn btn-default input-sm btn-search tlb-icons ico-search"
	            data-ng-click="triggerSearch()"
	            title="{{ 'basics.clerk.findBySearch' | translate }}"></button>
    </span>
</div>
