@mixin status-styles($basecolor: $color-hover, $lightness: darken, $type: none, $color: none, $background:none, $hoverfcolor: none, $border: none) {
	@if $basecolor == none {
		transition: none;

		// selected
		&.active,
		&.selected {
			background-color: initial;
		}

		// hover
		&:not(:disabled):hover, &:not(:disabled):focus {
			background-color:  initial;
		}
	} @else if $type == custom {
		color: $color;
		background-color: $background;
		@if $border != none {
			border-color: $border;
		} @else {
			border: none;
		}

		&:not(:disabled):hover, &:not(:disabled):focus {
			background-color: $basecolor;
			@if $hoverfcolor != none {
				color: $hoverfcolor;
			} @else {
				color: $color;
			}
		}
	} @else {
		transition: background-color .2s ease-in, opacity .2s ease-in;

		// selected
		&.active,
		&.selected {
			@if $lightness == default {
				background-color: $color-active;
			} @else {
				@if $lightness == darken {
					background-color: darken($basecolor, 4%);
				} @else {
					background-color: lighten($basecolor, 4%);
				}
			}
		}

		&.active-caption {
			color: $color-rib;
		}

		// hover
		&:not(:disabled):hover {
			background-color:  $basecolor;
		}

		//// clicked
		//&:not(:disabled):active {
		//	transition-duration: 0ms;
		//
		//	@if $lightness == darken {
		//		background-color: darken($basecolor, 10%);
		//	} @else {
		//		background-color: lighten($basecolor, 10%);
		//	}
		//}

		// disabled
		&:disabled
		{
			@include opacity(.3);
			cursor: default;
		}
	}
}